# Capstone Project: BRICS Analysis Data Preparation
### By Ryan Kidd

## Introduction
For my Capstone Project, I want to analyze how the different aspects of the BRICS (Brazil, Russia, India, China, and South Africa) economies distinguished these countries as the strongest emerging markets in the twentieth century. These economies have the potential to become the world's fastest economies with their low labor costs, locational advantages, and abundant natural resources, yet why haven't they? Did political instability cause economic struggle in these countries, or are there underlying reasons in the data that suggest a particular industry underperformed? Using data science techniques, I will analyze the different industries that contribute the most to the BRICS economy overtime. Further, I want to analyze how different aspects of the BRICS economy contributed to their overall GDP and Growth per Year. Through machine learning techniques, I want to answer why some of these countries underperformed, or the underlying cause as to why they were not able to meet expectations.

## Data Preparation
In order to analyze the BRICS datasets, first I will need to prepare the data and then clean it appropriately. I will look into the five datasets downloaded from Kaggle, `https://www.kaggle.com/docstein/brics-world-bank-indicators` and understand what the columns are representing. For each dataset, I will analyze what the datatypes of the columns are and check for number of null values. Depending on how many null values and the proportion of data they account for, I will decide whether to drop them or impute them. Further, I plan on merging the datasets and rotating them in order to achieve a cumulative dataset that will allow me to conduct different machine learning models. This rotated dataset will have the rows as the BRICS countries and the features as the different Series in each dataset. I will also need to create some features that will help me in my analysis such as a Increase/Decrease per Year, Percent Growth, and Total GDP. First, in order to construct the data in this way, I must read in these files. Below, I have downloaded the necessary packages to prepare and clean the datasets.

In [24]:
# Import data science packages for Data Preparation, Cleaning, and Exploratory Data Analysis (EDA)
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [25]:
# Reading in all of the CSV files Kaggle for BRICS analysis
df_economy = pd.read_csv('data/Economy_Data.csv', sep=';', index_col=0) # Had to add sep = ";" as all of the CSV file columns were separated with a ";" 
df_education = pd.read_csv('data/Education_And_Environ_Data.csv', sep=';', index_col=0) # Got rid of the index_column as it provides no useful information
df_public = pd.read_csv('data/Public_Sector_Indicators.csv', sep=';', index_col=0)
df_private = pd.read_csv('data/Private_Sector_Data.csv', sep=';', index_col=0)
df_health = pd.read_csv('data/Health_And_Poverty_Data.csv', sep=';', index_col=0)

In [26]:
# Created new Excel files with columns separated by exporting a pandas Dataframe to CSV
# df_economy.to_csv(r'C:\Users\Jim\Desktop\Economy_Fixed.csv', index = False)
# df_education.to_csv(r'C:\Users\Jim\Desktop\Education_Fixed.csv', index = False)
# df_public.to_csv(r'C:\Users\Jim\Desktop\Public_Fixed.csv', index = False)
# df_private.to_csv(r'C:\Users\Jim\Desktop\Private_Fixed.csv', index = False)
# df_health.to_csv(r'C:\Users\Jim\Desktop\Health_Fixed.csv', index = False)

In [27]:
# Taking a look into the Economy_Data.csv
df_economy.head(10) #Looking at the first 10 rows

,SeriesCode,CountryName,CountryCode,Year,Value
SeriesName,,,,,
Adjusted net national income (annual % growth),NY.ADJ.NNTY.KD.ZG,Brazil,BRA,1970.0,NaN
Adjusted net national income (annual % growth),NY.ADJ.NNTY.KD.ZG,China,CHN,1970.0,NaN
Adjusted net national income (annual % growth),NY.ADJ.NNTY.KD.ZG,India,IND,1970.0,NaN
Adjusted net national income (annual % growth),NY.ADJ.NNTY.KD.ZG,Russian Federation,RUS,1970.0,NaN
Adjusted net national income (annual % growth),NY.ADJ.NNTY.KD.ZG,South Africa,ZAF,1970.0,NaN
Adjusted net national income (constant 2010 US$),NY.ADJ.NNTY.KD,Brazil,BRA,1970.0,3.918974e+11
Adjusted net national income (constant 2010 US$),NY.ADJ.NNTY.KD,China,CHN,1970.0,NaN
Adjusted net national income (constant 2010 US$),NY.ADJ.NNTY.KD,India,IND,1970.0,1.915335e+11
Adjusted net national income (constant 2010 US$),NY.ADJ.NNTY.KD,Russian Federation,RUS,1970.0,NaN
Adjusted net national income (constant 2010 US$),NY.ADJ.NNTY.KD,South Africa,ZAF,1970.0,NaN

In [5]:
# Looking at the shape of the df_economy dataframe and datatypes of the columns/features
print(df_economy.shape)
df_economy.dtypes

(86500, 5)

SeriesCode      object
CountryName     object
CountryCode     object
Year           float64
Value          float64
dtype: object

From the initial peak into the dataset, I can see that some things need to be changed in order to perform machine learning and prediction models. First, I must drop the SeriesCode column as it provides no statistical information for the machine learning process. With only four features in the dataset after dropping, I plan on pivoting the table and making each unique SeriesName a feature for analysis with the rows as the Country and Year. In theory, this should make the dataset more applicable for machine learning models. Further, we can see that there are currently three features that are non-numeric, which will have to be addressed in the cleaning. Before, pivoting the table, I plan on understanding and preparing the data more by checking for null values and duplicated rows in each dataset.

In [4]:
df_economy = df_economy.drop(['SeriesCode'], axis=1)
df_economy.head(10)

,CountryName,CountryCode,Year,Value
SeriesName,,,,
Adjusted net national income (annual % growth),Brazil,BRA,1970.0,NaN
Adjusted net national income (annual % growth),China,CHN,1970.0,NaN
Adjusted net national income (annual % growth),India,IND,1970.0,NaN
Adjusted net national income (annual % growth),Russian Federation,RUS,1970.0,NaN
Adjusted net national income (annual % growth),South Africa,ZAF,1970.0,NaN
Adjusted net national income (constant 2010 US$),Brazil,BRA,1970.0,3.918974e+11
Adjusted net national income (constant 2010 US$),China,CHN,1970.0,NaN
Adjusted net national income (constant 2010 US$),India,IND,1970.0,1.915335e+11
Adjusted net national income (constant 2010 US$),Russian Federation,RUS,1970.0,NaN
Adjusted net national income (constant 2010 US$),South Africa,ZAF,1970.0,NaN

In [25]:
# Checking the number of null values within the Economy dataset
df_economy.isna().sum()

CountryName      250
CountryCode      250
Year               0
Value          26152
dtype: int64

In [26]:
# Returns the percentage of rows which have NaNs for each column.
df_economy.isna().sum()/len(df_economy)*100.0

CountryName     0.289017
CountryCode     0.289017
Year            0.000000
Value          30.233526
dtype: float64

In [31]:
# Checking to see the number of duplicated rows in the Economy dataset
df_economy.duplicated().sum()

27793

In [32]:
# Returns the percentage of rows that were duplicated in the Economy dataset.
df_economy.duplicated().sum()/len(df_economy)*100.0

32.13063583815029

We can see that there is a high proportion of null values and duplicated rows in the dataset. Prior to downloading this data, I noticed that the Kaggle data originally pulled from The World Bank's DataBank. This database contains many databases that encompass different development indicators, growing industries, and statistical data related to population dynamics. Exploring these databases, I realized that for many of the indicators, the time series had a major impact on how many values were represented in the data. Considering this fact, I decided for my analysis of BRICS economies, I would focus on the time period starting in 1995 to 2018, as the database has not been updated for 2019 yet. I believe the reason The World Bank does not release current data and the datasets have many missing values is due to the inability to maintain a flow of survey data from some countries every year. For more info on why there are NaN values The World Bank explains the reason on this webpage, `https://datahelpdesk.worldbank.org/knowledgebase/articles/191133-why-are-some-data-not-available`. Before, removing the NaN values and duplicated columns, I will pivot the table in order to see how the number of rows and features change.

In [8]:
df_economy_reshape = pd.pivot_table(df_economy, values = 'Value', index = ['CountryName','CountryCode','Year'], columns = 'SeriesName')
print(f'The size of the reshaped df_economy: {df_economy_reshape.shape}')
df_economy_reshape.head(10)

The size of the reshaped df_economy: (250, 332)

SeriesName                      Adjusted net national income (annual % growth)  \
CountryName CountryCode Year
Brazil      BRA         1970.0                                             NaN
                        1971.0                                       11.642225
                        1972.0                                       12.379004
                        1973.0                                       12.214610
                        1974.0                                        5.160031
                        1975.0                                        2.928050
                        1976.0                                       13.847055
                        1977.0                                        6.897196
                        1978.0                                        1.727041
                        1979.0                                        6.489032

SeriesName                      Adjusted net national income (constant 2010 US$)  \
CountryName CountryCode Year
Brazil      BRA         1970.0                                      3.918974e+11
                        1971.0                                      4.375230e+11
                        1972.0                                      4.916840e+11
                        1973.0                                      5.517413e+11
                        1974.0                                      5.802113e+11
                        1975.0                                      5.972002e+11
                        1976.0                                      6.798948e+11
                        1977.0                                      7.267885e+11
                        1978.0                                      7.393404e+11
                        1979.0                                      7.873164e+11

SeriesName                      Adjusted net national income (current US$)  \
CountryName CountryCode Year
Brazil      BRA         1970.0                                3.786021e+10
                        1971.0                                4.414620e+10
                        1972.0                                5.252340e+10
                        1973.0                                7.058820e+10
                        1974.0                                9.341705e+10
                        1975.0                                1.086838e+11
                        1976.0                                1.336018e+11
                        1977.0                                1.544139e+11
                        1978.0                                1.743500e+11
                        1979.0                                1.936141e+11

SeriesName                      Adjusted net national income per capita (annual % growth)  \
CountryName CountryCode Year
Brazil      BRA         1970.0                                                NaN
                        1971.0                                           8.928380
                        1972.0                                           9.704598
                        1973.0                                           9.580841
                        1974.0                                           2.702725
                        1975.0                                           0.518431
                        1976.0                                          11.177201
                        1977.0                                           4.392284
                        1978.0                                          -0.655074
                        1979.0                                           3.998180

SeriesName                      Adjusted net national income per capita (constant 2010 US$)  \
CountryName CountryCode Year
Brazil      BRA         1970.0                                        4120.323413
                        1971.0                                        4488.201546
                        1972.0                                        4923.763456
                        1973.0                                        5395.501408
                        1974.0                                        5541.326994
                        1975.0                                        5570.054972
                        1976.0                                        6192.631217
                        1977.0                                        6464.629179
                        1978.0                                        6422.281063
                        1979.0                                        6679.055398

SeriesName                      Adjusted net national income per capita (current US$)  \
CountryName CountryCode Year
Brazil      BRA         1970.0                                         398.053948
                        1971.0                                         452.860827
                        1972.0                                         525.973644
                        1973.0                                         690.284997
                        1974.0                                         892.182583
                        1975.0                                        1013.688084
                        1976.0                                        1216.874855
                        1977.0                                        1373.478510
                        1978.0                                        1514.491267
                        1979.0                                        1642.490014

SeriesName                      Adjusted net savings, excluding particulate emission damage (% of GNI)  \
CountryName CountryCode Year
Brazil      BRA         1970.0                                                NaN
                        1971.0                                                NaN
                        1972.0                                                NaN
                        1973.0                                                NaN
                        1974.0                                                NaN
                        1975.0                                          14.181300
                        1976.0                                          10.980208
                        1977.0                                          11.946388
                        1978.0                                          11.763013
                        1979.0                                           9.819068

SeriesName                      Adjusted net savings, excluding particulate emission damage (current US$)  \
CountryName CountryCode Year
Brazil      BRA         1970.0                                                NaN
                        1971.0                                                NaN
                        1972.0                                                NaN
                        1973.0                                                NaN
                        1974.0                                                NaN
                        1975.0                                       1.730355e+10
                        1976.0                                       1.650961e+10
                        1977.0                                       2.069753e+10
                        1978.0                                       2.306501e+10
                        1979.0                                       2.149838e+10

SeriesName                      Adjusted net savings, including particulate emission damage (% of GNI)  \
CountryName CountryCode Year
Brazil      BRA         1970.0                                                NaN
                        1971.0                                                NaN
                        1972.0                                                NaN
                        1973.0                                                NaN
                        1974.0                                                NaN
                        1975.0                                                NaN
                        1976.0                                                NaN
                        1977.0                                                NaN
                        1978.0                                                NaN
                        1979.0                                                NaN

SeriesName                      Adjusted net savings, including particulate emission damage (current US$)  \
CountryName CountryCode Year
Brazil      BRA         1970.0                                                NaN
                        1971.0                                                NaN
                        1972.0                                                NaN
                        1973.0                                                NaN
                        1974.0                                                NaN
                        1975.0                                                NaN
                        1976.0                                                NaN
                        1977.0                                                NaN
                        1978.0                                                NaN
                        1979.0                                                NaN

SeriesName                      ...  \
CountryName CountryCode Year    ...
Brazil      BRA         1970.0  ...
                        1971.0  ...
                        1972.0  ...
                        1973.0  ...
                        1974.0  ...
                        1975.0  ...
                        1976.0  ...
                        1977.0  ...
                        1978.0  ...
                        1979.0  ...

SeriesName                      Total reserves (includes gold, current US$)  \
CountryName CountryCode Year
Brazil      BRA         1970.0                                 1.189905e+09
                        1971.0                                 1.753865e+09
                        1972.0                                 4.218806e+09
                        1973.0                                 6.508867e+09
                        1974.0                                 5.463238e+09
                        1975.0                                 4.166486e+09
                        1976.0                                 6.666854e+09
                        1977.0                                 7.441921e+09
                        1978.0                                 1.219003e+10
                        1979.0                                 9.838705e+09

SeriesName                      Total reserves in months of imports  \
CountryName CountryCode Year
Brazil      BRA         1970.0                                  NaN
                        1971.0                                  NaN
                        1972.0                                  NaN
                        1973.0                                  NaN
                        1974.0                                  NaN
                        1975.0                             2.949725
                        1976.0                             4.484180
                        1977.0                             4.795567
                        1978.0                             6.773181
                        1979.0                             4.143631

SeriesName                      Total reserves minus gold (current US$)  \
CountryName CountryCode Year
Brazil      BRA         1970.0                             1.141660e+09
                        1971.0                             1.696186e+09
                        1972.0                             4.132748e+09
                        1973.0                             6.359911e+09
                        1974.0                             5.215753e+09
                        1975.0                             3.980375e+09
                        1976.0                             6.488041e+09
                        1977.0                             7.192022e+09
                        1978.0                             1.182640e+10
                        1979.0                             8.966257e+09

SeriesName                      Trade (% of GDP)  \
CountryName CountryCode Year
Brazil      BRA         1970.0         14.479195
                        1971.0         14.551280
                        1972.0         16.103251
                        1973.0         17.773259
                        1974.0         21.896847
                        1975.0         19.044153
                        1976.0         16.468331
                        1977.0         15.170116
                        1978.0         14.539973
                        1979.0         16.299473

SeriesName                      Trade in services (% of GDP)  \
CountryName CountryCode Year
Brazil      BRA         1970.0                           NaN
                        1971.0                           NaN
                        1972.0                           NaN
                        1973.0                           NaN
                        1974.0                           NaN
                        1975.0                      2.880946
                        1976.0                      2.371658
                        1977.0                      2.270518
                        1978.0                      2.203177
                        1979.0                      2.344318

SeriesName                      Transport services (% of service exports, BoP)  \
CountryName CountryCode Year
Brazil      BRA         1970.0                                             NaN
                        1971.0                                             NaN
                        1972.0                                             NaN
                        1973.0                                             NaN
                        1974.0                                             NaN
                        1975.0                                       44.811321
                        1976.0                                       48.330059
                        1977.0                                       44.821872
                        1978.0                                       41.629630
                        1979.0                                       47.186441

SeriesName                      Transport services (% of service imports, BoP)  \
CountryName CountryCode Year
Brazil      BRA         1970.0                                             NaN
                        1971.0                                             NaN
                        1972.0                                             NaN
                        1973.0                                             NaN
                        1974.0                                             NaN
                        1975.0                                       56.829073
                        1976.0                                       56.127545
                        1977.0                                       54.171142
                        1978.0                                       51.366298
                        1979.0                                       55.146091

SeriesName                      Travel services (% of service exports, BoP)  \
CountryName CountryCode Year
Brazil      BRA         1970.0                                          NaN
                        1971.0                                          NaN
                        1972.0                                          NaN
                        1973.0                                          NaN
                        1974.0                                          NaN
                        1975.0                                     6.698113
                        1976.0                                     5.500982
                        1977.0                                     4.556752
                        1978.0                                     5.037037
                        1979.0                                     5.084746

SeriesName                      Travel services (% of service imports, BoP)  \
CountryName CountryCode Year
Brazil      BRA         1970.0                                          NaN
                        1971.0                                          NaN
                        1972.0                                          NaN
                        1973.0                                          NaN
                        1974.0                                          NaN
                        1975.0                                    16.813099
                        1976.0                                    13.830196
                        1977.0                                     8.199069
                        1978.0                                     8.262850
                        1979.0                                     8.133719

SeriesName                      Use of IMF credit (DOD, current US$)
CountryName CountryCode Year
Brazil      BRA         1970.0                                   0.0
                        1971.0                                   0.0
                        1972.0                                   0.0
                        1973.0                                   0.0
                        1974.0                                   0.0
                        1975.0                                   0.0
                        1976.0                                   0.0
                        1977.0                                   0.0
                        1978.0                                   0.0
                        1979.0                                   0.0

[10 rows x 332 columns]

This reshaped dataframe enables us to do an analysis based on the many features present in the Economic Indicator data for each BRICS country over the years. From the shape of the dataset, I noticed that since we are analyzing 5 countries there are 50 years of data in the dataframe above from 1970 to 2020, 250/5 = 50. If we reduce the number of years, this will significantly reduce the number of rows in our dataset and merging the other four datasets will only add more features to the combined dataframe. Next, I will complete the steps above for the df_economy dataframe and apply it to the other 4 dataframes.

In [28]:
# Creating a CSV file for the cleaning section
df_economy_reshape.to_csv(r'C:\Users\Jim\Desktop\Economy_Rotated.csv')

In [21]:
# Taking a look into the Education_And_Environ_Data.csv
df_education.head(10)

,SeriesCode,CountryName,CountryCode,Year,Value
SeriesName,,,,,
Access to clean fuels and technologies for cooking (% of population),EG.CFT.ACCS.ZS,Brazil,BRA,1970.0,NaN
Access to clean fuels and technologies for cooking (% of population),EG.CFT.ACCS.ZS,China,CHN,1970.0,NaN
Access to clean fuels and technologies for cooking (% of population),EG.CFT.ACCS.ZS,India,IND,1970.0,NaN
Access to clean fuels and technologies for cooking (% of population),EG.CFT.ACCS.ZS,Russian Federation,RUS,1970.0,NaN
Access to clean fuels and technologies for cooking (% of population),EG.CFT.ACCS.ZS,South Africa,ZAF,1970.0,NaN
Access to electricity (% of population),EG.ELC.ACCS.ZS,Brazil,BRA,1970.0,NaN
Access to electricity (% of population),EG.ELC.ACCS.ZS,China,CHN,1970.0,NaN
Access to electricity (% of population),EG.ELC.ACCS.ZS,India,IND,1970.0,NaN
Access to electricity (% of population),EG.ELC.ACCS.ZS,Russian Federation,RUS,1970.0,NaN
Access to electricity (% of population),EG.ELC.ACCS.ZS,South Africa,ZAF,1970.0,NaN

In [13]:
# Looking at the shape of the df_education dataframe and datatypes of the columns/features
print(df_education.shape)
df_education.dtypes

(71500, 5)

SeriesCode      object
CountryName     object
CountryCode     object
Year           float64
Value          float64
dtype: object

We can see a similar pattern as the df_economy dataframe. The datatypes are the same and the shape of the dataset is smaller by approximately 15,000 values. Again, I will remove the SeriesCode column as I have decided that it will not be useful in my analysis and adds a non-numeric feature to the dataframes. After I remove the SeriesCode column, next I will check for null values and duplicated rows.

In [9]:
df_education = df_education.drop(['SeriesCode'], axis=1)
df_education.head(10)

,CountryName,CountryCode,Year,Value
SeriesName,,,,
Access to clean fuels and technologies for cooking (% of population),Brazil,BRA,1970.0,NaN
Access to clean fuels and technologies for cooking (% of population),China,CHN,1970.0,NaN
Access to clean fuels and technologies for cooking (% of population),India,IND,1970.0,NaN
Access to clean fuels and technologies for cooking (% of population),Russian Federation,RUS,1970.0,NaN
Access to clean fuels and technologies for cooking (% of population),South Africa,ZAF,1970.0,NaN
Access to electricity (% of population),Brazil,BRA,1970.0,NaN
Access to electricity (% of population),China,CHN,1970.0,NaN
Access to electricity (% of population),India,IND,1970.0,NaN
Access to electricity (% of population),Russian Federation,RUS,1970.0,NaN
Access to electricity (% of population),South Africa,ZAF,1970.0,NaN

In [41]:
# Checking the number of null values within the Education dataset
df_education.isna().sum()

CountryName      250
CountryCode      250
Year               0
Value          41640
dtype: int64

In [42]:
# Returns the percentage of rows which have NaNs for each column.
df_education.isna().sum()/len(df_education)*100.0

CountryName     0.349650
CountryCode     0.349650
Year            0.000000
Value          58.237762
dtype: float64

In [43]:
# Checking to see the number of duplicated rows in the Economy dataset
df_education.duplicated().sum()

42085

In [44]:
# Returns the percentage of rows that were duplicated in the Economy dataset.
df_education.duplicated().sum()/len(df_education)*100.0

58.86013986013986

For the Education dataset, we can see that there are the same number of CountryName and CountryCode missing values as in the Economy dataset. Further, there is a higher proportion of missing values and duplicated rows in this dataset. In order to address the large proportion of data not present, I will have to select the specific timeline as discussed above in the cleaning section. For now, I will prepare the data by pivoting it in the same format as the first pivot `df_economy_reshape`.

In [10]:
df_education_reshape = pd.pivot_table(df_education, values = 'Value', index = ['CountryName','CountryCode','Year'], columns = 'SeriesName')
print(f'The size of the reshaped df_education: {df_education_reshape.shape}')
df_education_reshape.head(10)

The size of the reshaped df_education: (250, 285)

SeriesName                      Access to clean fuels and technologies for cooking (% of population)  \
CountryName CountryCode Year
Brazil      BRA         1970.0                                                NaN
                        1971.0                                                NaN
                        1972.0                                                NaN
                        1973.0                                                NaN
                        1974.0                                                NaN
                        1975.0                                                NaN
                        1976.0                                                NaN
                        1977.0                                                NaN
                        1978.0                                                NaN
                        1979.0                                                NaN

SeriesName                      Access to electricity (% of population)  \
CountryName CountryCode Year
Brazil      BRA         1970.0                                      NaN
                        1971.0                                      NaN
                        1972.0                                      NaN
                        1973.0                                      NaN
                        1974.0                                      NaN
                        1975.0                                      NaN
                        1976.0                                      NaN
                        1977.0                                      NaN
                        1978.0                                      NaN
                        1979.0                                      NaN

SeriesName                      Access to electricity, rural (% of rural population)  \
CountryName CountryCode Year
Brazil      BRA         1970.0                                                NaN
                        1971.0                                                NaN
                        1972.0                                                NaN
                        1973.0                                                NaN
                        1974.0                                                NaN
                        1975.0                                                NaN
                        1976.0                                                NaN
                        1977.0                                                NaN
                        1978.0                                                NaN
                        1979.0                                                NaN

SeriesName                      Access to electricity, urban (% of urban population)  \
CountryName CountryCode Year
Brazil      BRA         1970.0                                                NaN
                        1971.0                                                NaN
                        1972.0                                                NaN
                        1973.0                                                NaN
                        1974.0                                                NaN
                        1975.0                                                NaN
                        1976.0                                                NaN
                        1977.0                                                NaN
                        1978.0                                                NaN
                        1979.0                                                NaN

SeriesName                      Adjusted net enrollment rate, primary (% of primary school age children)  \
CountryName CountryCode Year
Brazil      BRA         1970.0                                                NaN
                        1971.0                                                NaN
                        1972.0                                                NaN
                        1973.0                                                NaN
                        1974.0                                                NaN
                        1975.0                                                NaN
                        1976.0                                                NaN
                        1977.0                                                NaN
                        1978.0                                                NaN
                        1979.0                                                NaN

SeriesName                      Adjusted net enrollment rate, primary, female (% of primary school age children)  \
CountryName CountryCode Year
Brazil      BRA         1970.0                                                NaN
                        1971.0                                                NaN
                        1972.0                                                NaN
                        1973.0                                                NaN
                        1974.0                                                NaN
                        1975.0                                                NaN
                        1976.0                                                NaN
                        1977.0                                                NaN
                        1978.0                                                NaN
                        1979.0                                                NaN

SeriesName                      Adjusted net enrollment rate, primary, male (% of primary school age children)  \
CountryName CountryCode Year
Brazil      BRA         1970.0                                                NaN
                        1971.0                                                NaN
                        1972.0                                                NaN
                        1973.0                                                NaN
                        1974.0                                                NaN
                        1975.0                                                NaN
                        1976.0                                                NaN
                        1977.0                                                NaN
                        1978.0                                                NaN
                        1979.0                                                NaN

SeriesName                      Adolescents out of school (% of lower secondary school age)  \
CountryName CountryCode Year
Brazil      BRA         1970.0                                                NaN
                        1971.0                                                NaN
                        1972.0                                                NaN
                        1973.0                                                NaN
                        1974.0                                                NaN
                        1975.0                                                NaN
                        1976.0                                                NaN
                        1977.0                                                NaN
                        1978.0                                                NaN
                        1979.0                                                NaN

SeriesName                      Adolescents out of school, female (% of female lower secondary school age)  \
CountryName CountryCode Year
Brazil      BRA         1970.0                                                NaN
                        1971.0                                                NaN
                        1972.0                                                NaN
                        1973.0                                                NaN
                        1974.0                                                NaN
                        1975.0                                                NaN
                        1976.0                                                NaN
                        1977.0                                                NaN
                        1978.0                                                NaN
                        1979.0                                                NaN

SeriesName                      Adolescents out of school, male (% of male lower secondary school age)  \
CountryName CountryCode Year
Brazil      BRA         1970.0                                                NaN
                        1971.0                                                NaN
                        1972.0                                                NaN
                        1973.0                                                NaN
                        1974.0                                                NaN
                        1975.0                                                NaN
                        1976.0                                                NaN
                        1977.0                                                NaN
                        1978.0                                                NaN
                        1979.0                                                NaN

SeriesName                      ...  \
CountryName CountryCode Year    ...
Brazil      BRA         1970.0  ...
                        1971.0  ...
                        1972.0  ...
                        1973.0  ...
                        1974.0  ...
                        1975.0  ...
                        1976.0  ...
                        1977.0  ...
                        1978.0  ...
                        1979.0  ...

SeriesName                      Trained teachers in upper secondary education, female (% of female teachers)  \
CountryName CountryCode Year
Brazil      BRA         1970.0                                                NaN
                        1971.0                                                NaN
                        1972.0                                                NaN
                        1973.0                                                NaN
                        1974.0                                                NaN
                        1975.0                                                NaN
                        1976.0                                                NaN
                        1977.0                                                NaN
                        1978.0                                                NaN
                        1979.0                                                NaN

SeriesName                      Trained teachers in upper secondary education, male (% of male teachers)  \
CountryName CountryCode Year
Brazil      BRA         1970.0                                                NaN
                        1971.0                                                NaN
                        1972.0                                                NaN
                        1973.0                                                NaN
                        1974.0                                                NaN
                        1975.0                                                NaN
                        1976.0                                                NaN
                        1977.0                                                NaN
                        1978.0                                                NaN
                        1979.0                                                NaN

SeriesName                      Urban land area (sq. km)  \
CountryName CountryCode Year
Brazil      BRA         1970.0                       NaN
                        1971.0                       NaN
                        1972.0                       NaN
                        1973.0                       NaN
                        1974.0                       NaN
                        1975.0                       NaN
                        1976.0                       NaN
                        1977.0                       NaN
                        1978.0                       NaN
                        1979.0                       NaN

SeriesName                      Urban land area where elevation is below 5 meters (% of total land area)  \
CountryName CountryCode Year
Brazil      BRA         1970.0                                                NaN
                        1971.0                                                NaN
                        1972.0                                                NaN
                        1973.0                                                NaN
                        1974.0                                                NaN
                        1975.0                                                NaN
                        1976.0                                                NaN
                        1977.0                                                NaN
                        1978.0                                                NaN
                        1979.0                                                NaN

SeriesName                      Urban land area where elevation is below 5 meters (sq. km)  \
CountryName CountryCode Year
Brazil      BRA         1970.0                                                NaN
                        1971.0                                                NaN
                        1972.0                                                NaN
                        1973.0                                                NaN
                        1974.0                                                NaN
                        1975.0                                                NaN
                        1976.0                                                NaN
                        1977.0                                                NaN
                        1978.0                                                NaN
                        1979.0                                                NaN

SeriesName                      Urban population  \
CountryName CountryCode Year
Brazil      BRA         1970.0        53176875.0
                        1971.0        55461933.0
                        1972.0        57797612.0
                        1973.0        60184827.0
                        1974.0        62641530.0
                        1975.0        65175659.0
                        1976.0        67790415.0
                        1977.0        70478354.0
                        1978.0        73245834.0
                        1979.0        76091693.0

SeriesName                      Urban population (% of total population)  \
CountryName CountryCode Year
Brazil      BRA         1970.0                                    55.909
                        1971.0                                    56.894
                        1972.0                                    57.879
                        1973.0                                    58.855
                        1974.0                                    59.826
                        1975.0                                    60.789
                        1976.0                                    61.745
                        1977.0                                    62.689
                        1978.0                                    63.625
                        1979.0                                    64.551

SeriesName                      Urban population growth (annual %)  \
CountryName CountryCode Year
Brazil      BRA         1970.0                            4.268093
                        1971.0                            4.207327
                        1972.0                            4.125057
                        1973.0                            4.047282
                        1974.0                            4.000820
                        1975.0                            3.965759
                        1976.0                            3.933474
                        1977.0                            3.888481
                        1978.0                            3.851575
                        1979.0                            3.811773

SeriesName                      Urban population living in areas where elevation is below 5 meters (% of total population)  \
CountryName CountryCode Year
Brazil      BRA         1970.0                                                NaN
                        1971.0                                                NaN
                        1972.0                                                NaN
                        1973.0                                                NaN
                        1974.0                                                NaN
                        1975.0                                                NaN
                        1976.0                                                NaN
                        1977.0                                                NaN
                        1978.0                                                NaN
                        1979.0                                                NaN

SeriesName                      Water productivity, total (constant 2010 US$ GDP per cubic meter of total freshwater withdrawal)
CountryName CountryCode Year
Brazil      BRA         1970.0                                                NaN
                        1971.0                                                NaN
                        1972.0                                                NaN
                        1973.0                                                NaN
                        1974.0                                                NaN
                        1975.0                                                NaN
                        1976.0                                                NaN
                        1977.0                                                NaN
                        1978.0                                                NaN
                        1979.0                                                NaN

[10 rows x 285 columns]

For this dataset, we can see that there are many NaN values for certain features and some features do not contain any. When cleaning the data and choosing the appropriate columns for the analysis, I will drop the columns that do not have values and keep the features that have enough data. I believe that many of these NaN values come from the fact that some of the data did not start pulling from survey until a certain year. I will have to find the year The World Bank started pulling the data. Now, I proceed to the Public dataset, df_public.

In [29]:
# Creating a CSV file for the cleaning section
df_education_reshape.to_csv(r'C:\Users\Jim\Desktop\Education_Rotated.csv')

In [22]:
# Taking a look into the Public_Sector_Indicators.csv
df_public.head(10)

,SeriesCode,CountryName,CountryCode,Year,Value
SeriesName,,,,,
Adequacy of social insurance programs (% of total welfare of beneficiary households),per_si_allsi.adq_pop_tot,Brazil,BRA,1970.0,NaN
Adequacy of social insurance programs (% of total welfare of beneficiary households),per_si_allsi.adq_pop_tot,China,CHN,1970.0,NaN
Adequacy of social insurance programs (% of total welfare of beneficiary households),per_si_allsi.adq_pop_tot,India,IND,1970.0,NaN
Adequacy of social insurance programs (% of total welfare of beneficiary households),per_si_allsi.adq_pop_tot,Russian Federation,RUS,1970.0,NaN
Adequacy of social insurance programs (% of total welfare of beneficiary households),per_si_allsi.adq_pop_tot,South Africa,ZAF,1970.0,NaN
Adequacy of social protection and labor programs (% of total welfare of beneficiary households),per_allsp.adq_pop_tot,Brazil,BRA,1970.0,NaN
Adequacy of social protection and labor programs (% of total welfare of beneficiary households),per_allsp.adq_pop_tot,China,CHN,1970.0,NaN
Adequacy of social protection and labor programs (% of total welfare of beneficiary households),per_allsp.adq_pop_tot,India,IND,1970.0,NaN
Adequacy of social protection and labor programs (% of total welfare of beneficiary households),per_allsp.adq_pop_tot,Russian Federation,RUS,1970.0,NaN
Adequacy of social protection and labor programs (% of total welfare of beneficiary households),per_allsp.adq_pop_tot,South Africa,ZAF,1970.0,NaN

In [15]:
# Looking at the shape of the df_public dataframe and datatypes of the columns/features
print(df_public.shape)
df_public.dtypes

(81500, 5)

SeriesCode      object
CountryName     object
CountryCode     object
Year           float64
Value          float64
dtype: object

Again, I will remove the SeriesCode column and check for null values and duplicated rows below.

In [12]:
df_public = df_public.drop(['SeriesCode'], axis=1)
df_public.head(10)

,CountryName,CountryCode,Year,Value
SeriesName,,,,
Adequacy of social insurance programs (% of total welfare of beneficiary households),Brazil,BRA,1970.0,NaN
Adequacy of social insurance programs (% of total welfare of beneficiary households),China,CHN,1970.0,NaN
Adequacy of social insurance programs (% of total welfare of beneficiary households),India,IND,1970.0,NaN
Adequacy of social insurance programs (% of total welfare of beneficiary households),Russian Federation,RUS,1970.0,NaN
Adequacy of social insurance programs (% of total welfare of beneficiary households),South Africa,ZAF,1970.0,NaN
Adequacy of social protection and labor programs (% of total welfare of beneficiary households),Brazil,BRA,1970.0,NaN
Adequacy of social protection and labor programs (% of total welfare of beneficiary households),China,CHN,1970.0,NaN
Adequacy of social protection and labor programs (% of total welfare of beneficiary households),India,IND,1970.0,NaN
Adequacy of social protection and labor programs (% of total welfare of beneficiary households),Russian Federation,RUS,1970.0,NaN
Adequacy of social protection and labor programs (% of total welfare of beneficiary households),South Africa,ZAF,1970.0,NaN

In [47]:
# Checking the number of null values within the Public dataset
df_public.isna().sum()

CountryName      250
CountryCode      250
Year               0
Value          54662
dtype: int64

In [48]:
# Returns the percentage of rows which have NaNs for each column.
df_public.isna().sum()/len(df_public)*100.0

CountryName     0.306748
CountryCode     0.306748
Year            0.000000
Value          67.069939
dtype: float64

In [49]:
# Checking to see the number of duplicated rows in the Economy dataset
df_public.duplicated().sum()

54816

In [50]:
# Returns the percentage of rows that were duplicated in the Economy dataset.
df_public.duplicated().sum()/len(df_public)*100.0

67.25889570552147

The same theory applies to the Public dataset as the data was most likely formatted to contain the 50 year time series, when some of the data was not pulled during this time period. I will need to account more for the time as the proportion of NaN values and duplicated rows is higher here. An additional note, I believe that some of these duplicated rows are the product of the rows with NaN values. This will need to be proven though in the cleaning section. Now, I will pivot the table in the mentioned format.

In [13]:
df_public_reshape = pd.pivot_table(df_public, values = 'Value', index = ['CountryName','CountryCode','Year'], columns = 'SeriesName')
print(f'The size of the reshaped df_public: {df_public_reshape.shape}')
df_public_reshape.head(10)

The size of the reshaped df_public: (250, 316)

SeriesName                      Adequacy of social insurance programs (% of total welfare of beneficiary households)  \
CountryName CountryCode Year
Brazil      BRA         1970.0                                                NaN
                        1971.0                                                NaN
                        1972.0                                                NaN
                        1973.0                                                NaN
                        1974.0                                                NaN
                        1975.0                                                NaN
                        1976.0                                                NaN
                        1977.0                                                NaN
                        1978.0                                                NaN
                        1979.0                                                NaN

SeriesName                      Adequacy of social protection and labor programs (% of total welfare of beneficiary households)  \
CountryName CountryCode Year
Brazil      BRA         1970.0                                                NaN
                        1971.0                                                NaN
                        1972.0                                                NaN
                        1973.0                                                NaN
                        1974.0                                                NaN
                        1975.0                                                NaN
                        1976.0                                                NaN
                        1977.0                                                NaN
                        1978.0                                                NaN
                        1979.0                                                NaN

SeriesName                      Adequacy of social safety net programs (% of total welfare of beneficiary households)  \
CountryName CountryCode Year
Brazil      BRA         1970.0                                                NaN
                        1971.0                                                NaN
                        1972.0                                                NaN
                        1973.0                                                NaN
                        1974.0                                                NaN
                        1975.0                                                NaN
                        1976.0                                                NaN
                        1977.0                                                NaN
                        1978.0                                                NaN
                        1979.0                                                NaN

SeriesName                      Adequacy of unemployment benefits and ALMP (% of total welfare of beneficiary households)  \
CountryName CountryCode Year
Brazil      BRA         1970.0                                                NaN
                        1971.0                                                NaN
                        1972.0                                                NaN
                        1973.0                                                NaN
                        1974.0                                                NaN
                        1975.0                                                NaN
                        1976.0                                                NaN
                        1977.0                                                NaN
                        1978.0                                                NaN
                        1979.0                                                NaN

SeriesName                      Air transport, freight (million ton-km)  \
CountryName CountryCode Year
Brazil      BRA         1970.0                               164.100006
                        1971.0                               180.199997
                        1972.0                               254.300003
                        1973.0                               316.700012
                        1974.0                               407.100006
                        1975.0                               460.500000
                        1976.0                               471.600006
                        1977.0                               499.299988
                        1978.0                               571.299988
                        1979.0                               570.500000

SeriesName                      Air transport, passengers carried  \
CountryName CountryCode Year
Brazil      BRA         1970.0                          3339800.0
                        1971.0                          3911000.0
                        1972.0                          4671400.0
                        1973.0                          5842400.0
                        1974.0                          6855500.0
                        1975.0                          7772900.0
                        1976.0                          8799000.0
                        1977.0                          9514400.0
                        1978.0                         10621300.0
                        1979.0                         11856900.0

SeriesName                      Air transport, registered carrier departures worldwide  \
CountryName CountryCode Year
Brazil      BRA         1970.0                                           137700.0
                        1971.0                                           149300.0
                        1972.0                                           156700.0
                        1973.0                                           173200.0
                        1974.0                                           204800.0
                        1975.0                                           209100.0
                        1976.0                                           206100.0
                        1977.0                                           194900.0
                        1978.0                                           193000.0
                        1979.0                                           211100.0

SeriesName                      Annualized average growth rate in per capita real survey mean consumption or income, bottom 40% of population (%)  \
CountryName CountryCode Year
Brazil      BRA         1970.0                                                NaN
                        1971.0                                                NaN
                        1972.0                                                NaN
                        1973.0                                                NaN
                        1974.0                                                NaN
                        1975.0                                                NaN
                        1976.0                                                NaN
                        1977.0                                                NaN
                        1978.0                                                NaN
                        1979.0                                                NaN

SeriesName                      Annualized average growth rate in per capita real survey mean consumption or income, total population (%)  \
CountryName CountryCode Year
Brazil      BRA         1970.0                                                NaN
                        1971.0                                                NaN
                        1972.0                                                NaN
                        1973.0                                                NaN
                        1974.0                                                NaN
                        1975.0                                                NaN
                        1976.0                                                NaN
                        1977.0                                                NaN
                        1978.0                                                NaN
                        1979.0                                                NaN

SeriesName                      Armed forces personnel (% of total labor force)  \
CountryName CountryCode Year
Brazil      BRA         1970.0                                              NaN
                        1971.0                                              NaN
                        1972.0                                              NaN
                        1973.0                                              NaN
                        1974.0                                              NaN
                        1975.0                                              NaN
                        1976.0                                              NaN
                        1977.0                                              NaN
                        1978.0                                              NaN
                        1979.0                                              NaN

SeriesName                      ...  \
CountryName CountryCode Year    ...
Brazil      BRA         1970.0  ...
                        1971.0  ...
                        1972.0  ...
                        1973.0  ...
                        1974.0  ...
                        1975.0  ...
                        1976.0  ...
                        1977.0  ...
                        1978.0  ...
                        1979.0  ...

SeriesName                      Unemployment, youth male (% of male labor force ages 15-24) (modeled ILO estimate)  \
CountryName CountryCode Year
Brazil      BRA         1970.0                                                NaN
                        1971.0                                                NaN
                        1972.0                                                NaN
                        1973.0                                                NaN
                        1974.0                                                NaN
                        1975.0                                                NaN
                        1976.0                                                NaN
                        1977.0                                                NaN
                        1978.0                                                NaN
                        1979.0                                                NaN

SeriesName                      Unemployment, youth male (% of male labor force ages 15-24) (national estimate)  \
CountryName CountryCode Year
Brazil      BRA         1970.0                                                NaN
                        1971.0                                                NaN
                        1972.0                                                NaN
                        1973.0                                                NaN
                        1974.0                                                NaN
                        1975.0                                                NaN
                        1976.0                                                NaN
                        1977.0                                                NaN
                        1978.0                                                NaN
                        1979.0                                                NaN

SeriesName                      Unemployment, youth total (% of total labor force ages 15-24) (modeled ILO estimate)  \
CountryName CountryCode Year
Brazil      BRA         1970.0                                                NaN
                        1971.0                                                NaN
                        1972.0                                                NaN
                        1973.0                                                NaN
                        1974.0                                                NaN
                        1975.0                                                NaN
                        1976.0                                                NaN
                        1977.0                                                NaN
                        1978.0                                                NaN
                        1979.0                                                NaN

SeriesName                      Unemployment, youth total (% of total labor force ages 15-24) (national estimate)  \
CountryName CountryCode Year
Brazil      BRA         1970.0                                                NaN
                        1971.0                                                NaN
                        1972.0                                                NaN
                        1973.0                                                NaN
                        1974.0                                                NaN
                        1975.0                                                NaN
                        1976.0                                                NaN
                        1977.0                                                NaN
                        1978.0                                                NaN
                        1979.0                                                NaN

SeriesName                      Vulnerable employment, female (% of female employment) (modeled ILO estimate)  \
CountryName CountryCode Year
Brazil      BRA         1970.0                                                NaN
                        1971.0                                                NaN
                        1972.0                                                NaN
                        1973.0                                                NaN
                        1974.0                                                NaN
                        1975.0                                                NaN
                        1976.0                                                NaN
                        1977.0                                                NaN
                        1978.0                                                NaN
                        1979.0                                                NaN

SeriesName                      Vulnerable employment, male (% of male employment) (modeled ILO estimate)  \
CountryName CountryCode Year
Brazil      BRA         1970.0                                                NaN
                        1971.0                                                NaN
                        1972.0                                                NaN
                        1973.0                                                NaN
                        1974.0                                                NaN
                        1975.0                                                NaN
                        1976.0                                                NaN
                        1977.0                                                NaN
                        1978.0                                                NaN
                        1979.0                                                NaN

SeriesName                      Vulnerable employment, total (% of total employment) (modeled ILO estimate)  \
CountryName CountryCode Year
Brazil      BRA         1970.0                                                NaN
                        1971.0                                                NaN
                        1972.0                                                NaN
                        1973.0                                                NaN
                        1974.0                                                NaN
                        1975.0                                                NaN
                        1976.0                                                NaN
                        1977.0                                                NaN
                        1978.0                                                NaN
                        1979.0                                                NaN

SeriesName                      Wage and salaried workers, female (% of female employment) (modeled ILO estimate)  \
CountryName CountryCode Year
Brazil      BRA         1970.0                                                NaN
                        1971.0                                                NaN
                        1972.0                                                NaN
                        1973.0                                                NaN
                        1974.0                                                NaN
                        1975.0                                                NaN
                        1976.0                                                NaN
                        1977.0                                                NaN
                        1978.0                                                NaN
                        1979.0                                                NaN

SeriesName                      Wage and salaried workers, male (% of male employment) (modeled ILO estimate)  \
CountryName CountryCode Year
Brazil      BRA         1970.0                                                NaN
                        1971.0                                                NaN
                        1972.0                                                NaN
                        1973.0                                                NaN
                        1974.0                                                NaN
                        1975.0                                                NaN
                        1976.0                                                NaN
                        1977.0                                                NaN
                        1978.0                                                NaN
                        1979.0                                                NaN

SeriesName                      Wage and salaried workers, total (% of total employment) (modeled ILO estimate)
CountryName CountryCode Year
Brazil      BRA         1970.0                                                NaN
                        1971.0                                                NaN
                        1972.0                                                NaN
                        1973.0                                                NaN
                        1974.0                                                NaN
                        1975.0                                                NaN
                        1976.0                                                NaN
                        1977.0                                                NaN
                        1978.0                                                NaN
                        1979.0                                                NaN

[10 rows x 316 columns]

We can see a similar pattern as the df_education_reshape dataframe as some features collect data since 1970, where many features do not. Next, I will prepare the Private dataset, df_private.

In [30]:
# Creating a CSV file for the cleaning section
df_public_reshape.to_csv(r'C:\Users\Jim\Desktop\Public_Rotated.csv')

In [23]:
# Taking a look into the Private_Sector_Data.csv
df_private.head(10)

,SeriesCode,CountryName,CountryCode,Year,Value
SeriesName,,,,,
Agricultural raw materials exports (% of merchandise exports),TX.VAL.AGRI.ZS.UN,Brazil,BRA,1970.0,11.895098
Agricultural raw materials exports (% of merchandise exports),TX.VAL.AGRI.ZS.UN,China,CHN,1970.0,NaN
Agricultural raw materials exports (% of merchandise exports),TX.VAL.AGRI.ZS.UN,India,IND,1970.0,5.556494
Agricultural raw materials exports (% of merchandise exports),TX.VAL.AGRI.ZS.UN,Russian Federation,RUS,1970.0,NaN
Agricultural raw materials exports (% of merchandise exports),TX.VAL.AGRI.ZS.UN,South Africa,ZAF,1970.0,NaN
Agricultural raw materials imports (% of merchandise imports),TM.VAL.AGRI.ZS.UN,Brazil,BRA,1970.0,1.851044
Agricultural raw materials imports (% of merchandise imports),TM.VAL.AGRI.ZS.UN,China,CHN,1970.0,NaN
Agricultural raw materials imports (% of merchandise imports),TM.VAL.AGRI.ZS.UN,India,IND,1970.0,9.207277
Agricultural raw materials imports (% of merchandise imports),TM.VAL.AGRI.ZS.UN,Russian Federation,RUS,1970.0,NaN
Agricultural raw materials imports (% of merchandise imports),TM.VAL.AGRI.ZS.UN,South Africa,ZAF,1970.0,NaN

In [19]:
# Looking at the shape of the df_private dataframe and datatypes of the columns/features
print(df_private.shape)
df_private.dtypes

(42250, 5)

SeriesCode      object
CountryName     object
CountryCode     object
Year           float64
Value          float64
dtype: object

First noticable attribute of this dataframe is it contains less values than the other dataframes. This tells me that the Private dataset will have less features when pivoting. I will remove the SeriesCode next.

In [14]:
df_private = df_private.drop(['SeriesCode'], axis=1)
df_private.head(10)

,CountryName,CountryCode,Year,Value
SeriesName,,,,
Agricultural raw materials exports (% of merchandise exports),Brazil,BRA,1970.0,11.895098
Agricultural raw materials exports (% of merchandise exports),China,CHN,1970.0,NaN
Agricultural raw materials exports (% of merchandise exports),India,IND,1970.0,5.556494
Agricultural raw materials exports (% of merchandise exports),Russian Federation,RUS,1970.0,NaN
Agricultural raw materials exports (% of merchandise exports),South Africa,ZAF,1970.0,NaN
Agricultural raw materials imports (% of merchandise imports),Brazil,BRA,1970.0,1.851044
Agricultural raw materials imports (% of merchandise imports),China,CHN,1970.0,NaN
Agricultural raw materials imports (% of merchandise imports),India,IND,1970.0,9.207277
Agricultural raw materials imports (% of merchandise imports),Russian Federation,RUS,1970.0,NaN
Agricultural raw materials imports (% of merchandise imports),South Africa,ZAF,1970.0,NaN

In [53]:
# Checking the number of null values within the Private dataset
df_private.isna().sum()

CountryName      250
CountryCode      250
Year               0
Value          24830
dtype: int64

In [54]:
# Returns the percentage of rows which have NaNs for each column.
df_private.isna().sum()/len(df_private)*100.0

CountryName     0.591716
CountryCode     0.591716
Year            0.000000
Value          58.769231
dtype: float64

In [55]:
# Checking to see the number of duplicated rows in the Economy dataset
df_private.duplicated().sum()

25907

In [56]:
# Returns the percentage of rows that were duplicated in the Economy dataset.
df_private.duplicated().sum()/len(df_private)*100.0

61.318343195266266

Again, we see a high proportion of Nan values and duplicated rows within the Private dataset. I will now pivot the dataframe in the specified format.

In [15]:
df_private_reshape = pd.pivot_table(df_private, values = 'Value', index = ['CountryName','CountryCode','Year'], columns = 'SeriesName')
print(f'The size of the reshaped df_private: {df_private_reshape.shape}')
df_private_reshape.head(10)

The size of the reshaped df_private: (230, 168)

SeriesName                      Agricultural raw materials exports (% of merchandise exports)  \
CountryName CountryCode Year
Brazil      BRA         1970.0                                          11.895098
                        1971.0                                          10.494023
                        1972.0                                           9.322425
                        1973.0                                           8.521143
                        1974.0                                           5.991149
                        1975.0                                           3.891622
                        1976.0                                           2.273232
                        1977.0                                           2.353515
                        1978.0                                           2.918907
                        1979.0                                           3.442275

SeriesName                      Agricultural raw materials imports (% of merchandise imports)  \
CountryName CountryCode Year
Brazil      BRA         1970.0                                           1.851044
                        1971.0                                           2.178320
                        1972.0                                           1.971959
                        1973.0                                           2.073260
                        1974.0                                           2.014877
                        1975.0                                           1.497433
                        1976.0                                           1.418146
                        1977.0                                           1.458700
                        1978.0                                           1.447775
                        1979.0                                           1.351869

SeriesName                      Average number of visits or required meetings with tax officials (for affected firms)  \
CountryName CountryCode Year
Brazil      BRA         1970.0                                                NaN
                        1971.0                                                NaN
                        1972.0                                                NaN
                        1973.0                                                NaN
                        1974.0                                                NaN
                        1975.0                                                NaN
                        1976.0                                                NaN
                        1977.0                                                NaN
                        1978.0                                                NaN
                        1979.0                                                NaN

SeriesName                      Average time to clear exports through customs (days)  \
CountryName CountryCode Year
Brazil      BRA         1970.0                                                NaN
                        1971.0                                                NaN
                        1972.0                                                NaN
                        1973.0                                                NaN
                        1974.0                                                NaN
                        1975.0                                                NaN
                        1976.0                                                NaN
                        1977.0                                                NaN
                        1978.0                                                NaN
                        1979.0                                                NaN

SeriesName                      Binding coverage, all products (%)  \
CountryName CountryCode Year
Brazil      BRA         1970.0                                 NaN
                        1971.0                                 NaN
                        1972.0                                 NaN
                        1973.0                                 NaN
                        1974.0                                 NaN
                        1975.0                                 NaN
                        1976.0                                 NaN
                        1977.0                                 NaN
                        1978.0                                 NaN
                        1979.0                                 NaN

SeriesName                      Binding coverage, manufactured products (%)  \
CountryName CountryCode Year
Brazil      BRA         1970.0                                          NaN
                        1971.0                                          NaN
                        1972.0                                          NaN
                        1973.0                                          NaN
                        1974.0                                          NaN
                        1975.0                                          NaN
                        1976.0                                          NaN
                        1977.0                                          NaN
                        1978.0                                          NaN
                        1979.0                                          NaN

SeriesName                      Binding coverage, primary products (%)  \
CountryName CountryCode Year
Brazil      BRA         1970.0                                     NaN
                        1971.0                                     NaN
                        1972.0                                     NaN
                        1973.0                                     NaN
                        1974.0                                     NaN
                        1975.0                                     NaN
                        1976.0                                     NaN
                        1977.0                                     NaN
                        1978.0                                     NaN
                        1979.0                                     NaN

SeriesName                      Bound rate, simple mean, all products (%)  \
CountryName CountryCode Year
Brazil      BRA         1970.0                                        NaN
                        1971.0                                        NaN
                        1972.0                                        NaN
                        1973.0                                        NaN
                        1974.0                                        NaN
                        1975.0                                        NaN
                        1976.0                                        NaN
                        1977.0                                        NaN
                        1978.0                                        NaN
                        1979.0                                        NaN

SeriesName                      Bound rate, simple mean, manufactured products (%)  \
CountryName CountryCode Year
Brazil      BRA         1970.0                                                NaN
                        1971.0                                                NaN
                        1972.0                                                NaN
                        1973.0                                                NaN
                        1974.0                                                NaN
                        1975.0                                                NaN
                        1976.0                                                NaN
                        1977.0                                                NaN
                        1978.0                                                NaN
                        1979.0                                                NaN

SeriesName                      Bound rate, simple mean, primary products (%)  \
CountryName CountryCode Year
Brazil      BRA         1970.0                                            NaN
                        1971.0                                            NaN
                        1972.0                                            NaN
                        1973.0                                            NaN
                        1974.0                                            NaN
                        1975.0                                            NaN
                        1976.0                                            NaN
                        1977.0                                            NaN
                        1978.0                                            NaN
                        1979.0                                            NaN

SeriesName                      ...  \
CountryName CountryCode Year    ...
Brazil      BRA         1970.0  ...
                        1971.0  ...
                        1972.0  ...
                        1973.0  ...
                        1974.0  ...
                        1975.0  ...
                        1976.0  ...
                        1977.0  ...
                        1978.0  ...
                        1979.0  ...

SeriesName                      Time to import, documentary compliance (hours)  \
CountryName CountryCode Year
Brazil      BRA         1970.0                                             NaN
                        1971.0                                             NaN
                        1972.0                                             NaN
                        1973.0                                             NaN
                        1974.0                                             NaN
                        1975.0                                             NaN
                        1976.0                                             NaN
                        1977.0                                             NaN
                        1978.0                                             NaN
                        1979.0                                             NaN

SeriesName                      Time to obtain an electrical connection (days)  \
CountryName CountryCode Year
Brazil      BRA         1970.0                                             NaN
                        1971.0                                             NaN
                        1972.0                                             NaN
                        1973.0                                             NaN
                        1974.0                                             NaN
                        1975.0                                             NaN
                        1976.0                                             NaN
                        1977.0                                             NaN
                        1978.0                                             NaN
                        1979.0                                             NaN

SeriesName                      Time to prepare and pay taxes (hours)  \
CountryName CountryCode Year
Brazil      BRA         1970.0                                    NaN
                        1971.0                                    NaN
                        1972.0                                    NaN
                        1973.0                                    NaN
                        1974.0                                    NaN
                        1975.0                                    NaN
                        1976.0                                    NaN
                        1977.0                                    NaN
                        1978.0                                    NaN
                        1979.0                                    NaN

SeriesName                      Time to resolve insolvency (years)  \
CountryName CountryCode Year
Brazil      BRA         1970.0                                 NaN
                        1971.0                                 NaN
                        1972.0                                 NaN
                        1973.0                                 NaN
                        1974.0                                 NaN
                        1975.0                                 NaN
                        1976.0                                 NaN
                        1977.0                                 NaN
                        1978.0                                 NaN
                        1979.0                                 NaN

SeriesName                      Total tax and contribution rate (% of profit)  \
CountryName CountryCode Year
Brazil      BRA         1970.0                                            NaN
                        1971.0                                            NaN
                        1972.0                                            NaN
                        1973.0                                            NaN
                        1974.0                                            NaN
                        1975.0                                            NaN
                        1976.0                                            NaN
                        1977.0                                            NaN
                        1978.0                                            NaN
                        1979.0                                            NaN

SeriesName                      Transport services (% of commercial service exports)  \
CountryName CountryCode Year
Brazil      BRA         1970.0                                                NaN
                        1971.0                                                NaN
                        1972.0                                                NaN
                        1973.0                                                NaN
                        1974.0                                                NaN
                        1975.0                                          48.568507
                        1976.0                                          50.773994
                        1977.0                                          46.839827
                        1978.0                                          43.364198
                        1979.0                                          50.544662

SeriesName                      Transport services (% of commercial service imports)  \
CountryName CountryCode Year
Brazil      BRA         1970.0                                                NaN
                        1971.0                                                NaN
                        1972.0                                                NaN
                        1973.0                                                NaN
                        1974.0                                                NaN
                        1975.0                                          59.589615
                        1976.0                                          58.769107
                        1977.0                                          56.581900
                        1978.0                                          53.525424
                        1979.0                                          62.425507

SeriesName                      Travel services (% of commercial service exports)  \
CountryName CountryCode Year
Brazil      BRA         1970.0                                                NaN
                        1971.0                                                NaN
                        1972.0                                                NaN
                        1973.0                                                NaN
                        1974.0                                                NaN
                        1975.0                                           7.259714
                        1976.0                                           5.779154
                        1977.0                                           4.761905
                        1978.0                                           5.246914
                        1979.0                                           5.446623

SeriesName                      Travel services (% of commercial service imports)  \
CountryName CountryCode Year
Brazil      BRA         1970.0                                                NaN
                        1971.0                                                NaN
                        1972.0                                                NaN
                        1973.0                                                NaN
                        1974.0                                                NaN
                        1975.0                                          17.629816
                        1976.0                                          14.481094
                        1977.0                                           8.563949
                        1978.0                                           8.610169
                        1979.0                                           9.207390

SeriesName                      Value lost due to electrical outages (% of sales for affected firms)
CountryName CountryCode Year
Brazil      BRA         1970.0                                                NaN
                        1971.0                                                NaN
                        1972.0                                                NaN
                        1973.0                                                NaN
                        1974.0                                                NaN
                        1975.0                                                NaN
                        1976.0                                                NaN
                        1977.0                                                NaN
                        1978.0                                                NaN
                        1979.0                                                NaN

[10 rows x 168 columns]

As guessed, the Private dataset contains less features than the other datasets as the number of values was significantly lower. An important note is the fact that there are only 230 rows compared to the other 3 dataframes. This suggests that there are 20 rows of missing data for a specific time series somewhere in the dataframe. I will need to find these values and understand why they are excluded from the dataset. When combining all the dataframes into one, I will need to understand which features are relevant and contain information for the time period I plan to analyze. Finally, I will prepare and gain an understanding of the Health dataset.

In [31]:
# Creating a CSV file for the cleaning section
df_private_reshape.to_csv(r'C:\Users\Jim\Desktop\Private_Rotated.csv')

In [24]:
# Taking a look into the Health_And_Poverty_Data.csv
df_health.head(10)

,SeriesCode,CountryName,CountryCode,Year,Value
SeriesName,,,,,
"Adolescent fertility rate (births per 1,000 women ages 15-19)",SP.ADO.TFRT,Brazil,BRA,1970.0,77.1184
"Adolescent fertility rate (births per 1,000 women ages 15-19)",SP.ADO.TFRT,China,CHN,1970.0,38.6866
"Adolescent fertility rate (births per 1,000 women ages 15-19)",SP.ADO.TFRT,India,IND,1970.0,108.3178
"Adolescent fertility rate (births per 1,000 women ages 15-19)",SP.ADO.TFRT,Russian Federation,RUS,1970.0,29.8818
"Adolescent fertility rate (births per 1,000 women ages 15-19)",SP.ADO.TFRT,South Africa,ZAF,1970.0,93.7106
Adults (ages 15+) and children (ages 0-14) newly infected with HIV,SH.HIV.INCD.TL,Brazil,BRA,1970.0,NaN
Adults (ages 15+) and children (ages 0-14) newly infected with HIV,SH.HIV.INCD.TL,China,CHN,1970.0,NaN
Adults (ages 15+) and children (ages 0-14) newly infected with HIV,SH.HIV.INCD.TL,India,IND,1970.0,NaN
Adults (ages 15+) and children (ages 0-14) newly infected with HIV,SH.HIV.INCD.TL,Russian Federation,RUS,1970.0,NaN
Adults (ages 15+) and children (ages 0-14) newly infected with HIV,SH.HIV.INCD.TL,South Africa,ZAF,1970.0,NaN

In [18]:
# Looking at the shape of the df_health dataframe and datatypes of the columns/features
print(df_health.shape)
df_health.dtypes

(69500, 5)

SeriesCode      object
CountryName     object
CountryCode     object
Year           float64
Value          float64
dtype: object

The size of the Health dataframe tells me that it is a relatively sizable dataset and I will now remove the SeriesCode column as I have for the other 4 datasets.

In [17]:
df_health = df_health.drop(['SeriesCode'], axis=1)
df_health.head(10)

,CountryName,CountryCode,Year,Value
SeriesName,,,,
"Adolescent fertility rate (births per 1,000 women ages 15-19)",Brazil,BRA,1970.0,77.1184
"Adolescent fertility rate (births per 1,000 women ages 15-19)",China,CHN,1970.0,38.6866
"Adolescent fertility rate (births per 1,000 women ages 15-19)",India,IND,1970.0,108.3178
"Adolescent fertility rate (births per 1,000 women ages 15-19)",Russian Federation,RUS,1970.0,29.8818
"Adolescent fertility rate (births per 1,000 women ages 15-19)",South Africa,ZAF,1970.0,93.7106
Adults (ages 15+) and children (ages 0-14) newly infected with HIV,Brazil,BRA,1970.0,NaN
Adults (ages 15+) and children (ages 0-14) newly infected with HIV,China,CHN,1970.0,NaN
Adults (ages 15+) and children (ages 0-14) newly infected with HIV,India,IND,1970.0,NaN
Adults (ages 15+) and children (ages 0-14) newly infected with HIV,Russian Federation,RUS,1970.0,NaN
Adults (ages 15+) and children (ages 0-14) newly infected with HIV,South Africa,ZAF,1970.0,NaN

In [62]:
# Checking the number of null values within the Health dataset
df_health.isna().sum()

CountryName      250
CountryCode      250
Year               0
Value          39481
dtype: int64

In [63]:
# Returns the percentage of rows which have NaNs for each column.
df_health.isna().sum()/len(df_health)*100.0

CountryName     0.359712
CountryCode     0.359712
Year            0.000000
Value          56.807194
dtype: float64

In [64]:
# Checking to see the number of duplicated rows in the Economy dataset
df_health.duplicated().sum()

39632

In [65]:
# Returns the percentage of rows that were duplicated in the Economy dataset.
df_health.duplicated().sum()/len(df_health)*100.0

57.024460431654674

In [18]:
df_health_reshape = pd.pivot_table(df_health, values = 'Value', index = ['CountryName','CountryCode','Year'], columns = 'SeriesName')
print(f'The size of the reshaped df_health: {df_health_reshape.shape}')
df_health_reshape.head(10)

The size of the reshaped df_health: (250, 263)

SeriesName                      ARI treatment (% of children under 5 taken to a health provider)  \
CountryName CountryCode Year
Brazil      BRA         1970.0                                                NaN
                        1971.0                                                NaN
                        1972.0                                                NaN
                        1973.0                                                NaN
                        1974.0                                                NaN
                        1975.0                                                NaN
                        1976.0                                                NaN
                        1977.0                                                NaN
                        1978.0                                                NaN
                        1979.0                                                NaN

SeriesName                      Adolescent fertility rate (births per 1,000 women ages 15-19)  \
CountryName CountryCode Year
Brazil      BRA         1970.0                                            77.1184
                        1971.0                                            75.4532
                        1972.0                                            73.7880
                        1973.0                                            73.8080
                        1974.0                                            73.8280
                        1975.0                                            73.8480
                        1976.0                                            73.8680
                        1977.0                                            73.8880
                        1978.0                                            75.0802
                        1979.0                                            76.2724

SeriesName                      Adults (ages 15+) and children (ages 0-14) newly infected with HIV  \
CountryName CountryCode Year
Brazil      BRA         1970.0                                                NaN
                        1971.0                                                NaN
                        1972.0                                                NaN
                        1973.0                                                NaN
                        1974.0                                                NaN
                        1975.0                                                NaN
                        1976.0                                                NaN
                        1977.0                                                NaN
                        1978.0                                                NaN
                        1979.0                                                NaN

SeriesName                      Adults (ages 15-49) newly infected with HIV  \
CountryName CountryCode Year
Brazil      BRA         1970.0                                          NaN
                        1971.0                                          NaN
                        1972.0                                          NaN
                        1973.0                                          NaN
                        1974.0                                          NaN
                        1975.0                                          NaN
                        1976.0                                          NaN
                        1977.0                                          NaN
                        1978.0                                          NaN
                        1979.0                                          NaN

SeriesName                      Age dependency ratio (% of working-age population)  \
CountryName CountryCode Year
Brazil      BRA         1970.0                                          83.980449
                        1971.0                                          82.948217
                        1972.0                                          81.878391
                        1973.0                                          80.746489
                        1974.0                                          79.514392
                        1975.0                                          78.196756
                        1976.0                                          77.037268
                        1977.0                                          75.877456
                        1978.0                                          74.720059
                        1979.0                                          73.578631

SeriesName                      Age dependency ratio, old (% of working-age population)  \
CountryName CountryCode Year
Brazil      BRA         1970.0                                           6.318839
                        1971.0                                           6.359471
                        1972.0                                           6.395842
                        1973.0                                           6.427570
                        1974.0                                           6.453058
                        1975.0                                           6.472243
                        1976.0                                           6.518907
                        1977.0                                           6.555841
                        1978.0                                           6.582918
                        1979.0                                           6.598951

SeriesName                      Age dependency ratio, young (% of working-age population)  \
CountryName CountryCode Year
Brazil      BRA         1970.0                                          77.661610
                        1971.0                                          76.588746
                        1972.0                                          75.482549
                        1973.0                                          74.318919
                        1974.0                                          73.061335
                        1975.0                                          71.724512
                        1976.0                                          70.518361
                        1977.0                                          69.321616
                        1978.0                                          68.137142
                        1979.0                                          66.979679

SeriesName                      Annualized average growth rate in per capita real survey mean consumption or income, bottom 40% of population (%)  \
CountryName CountryCode Year
Brazil      BRA         1970.0                                                NaN
                        1971.0                                                NaN
                        1972.0                                                NaN
                        1973.0                                                NaN
                        1974.0                                                NaN
                        1975.0                                                NaN
                        1976.0                                                NaN
                        1977.0                                                NaN
                        1978.0                                                NaN
                        1979.0                                                NaN

SeriesName                      Annualized average growth rate in per capita real survey mean consumption or income, total population (%)  \
CountryName CountryCode Year
Brazil      BRA         1970.0                                                NaN
                        1971.0                                                NaN
                        1972.0                                                NaN
                        1973.0                                                NaN
                        1974.0                                                NaN
                        1975.0                                                NaN
                        1976.0                                                NaN
                        1977.0                                                NaN
                        1978.0                                                NaN
                        1979.0                                                NaN

SeriesName                      Antiretroviral therapy coverage (% of people living with HIV)  \
CountryName CountryCode Year
Brazil      BRA         1970.0                                                NaN
                        1971.0                                                NaN
                        1972.0                                                NaN
                        1973.0                                                NaN
                        1974.0                                                NaN
                        1975.0                                                NaN
                        1976.0                                                NaN
                        1977.0                                                NaN
                        1978.0                                                NaN
                        1979.0                                                NaN

SeriesName                      ...  \
CountryName CountryCode Year    ...
Brazil      BRA         1970.0  ...
                        1971.0  ...
                        1972.0  ...
                        1973.0  ...
                        1974.0  ...
                        1975.0  ...
                        1976.0  ...
                        1977.0  ...
                        1978.0  ...
                        1979.0  ...

SeriesName                      Tuberculosis treatment success rate (% of new cases)  \
CountryName CountryCode Year
Brazil      BRA         1970.0                                                NaN
                        1971.0                                                NaN
                        1972.0                                                NaN
                        1973.0                                                NaN
                        1974.0                                                NaN
                        1975.0                                                NaN
                        1976.0                                                NaN
                        1977.0                                                NaN
                        1978.0                                                NaN
                        1979.0                                                NaN

SeriesName                      UHC service coverage index  \
CountryName CountryCode Year
Brazil      BRA         1970.0                         NaN
                        1971.0                         NaN
                        1972.0                         NaN
                        1973.0                         NaN
                        1974.0                         NaN
                        1975.0                         NaN
                        1976.0                         NaN
                        1977.0                         NaN
                        1978.0                         NaN
                        1979.0                         NaN

SeriesName                      Unmet need for contraception (% of married women ages 15-49)  \
CountryName CountryCode Year
Brazil      BRA         1970.0                                                NaN
                        1971.0                                                NaN
                        1972.0                                                NaN
                        1973.0                                                NaN
                        1974.0                                                NaN
                        1975.0                                                NaN
                        1976.0                                                NaN
                        1977.0                                                NaN
                        1978.0                                                NaN
                        1979.0                                                NaN

SeriesName                      Use of insecticide-treated bed nets (% of under-5 population)  \
CountryName CountryCode Year
Brazil      BRA         1970.0                                                NaN
                        1971.0                                                NaN
                        1972.0                                                NaN
                        1973.0                                                NaN
                        1974.0                                                NaN
                        1975.0                                                NaN
                        1976.0                                                NaN
                        1977.0                                                NaN
                        1978.0                                                NaN
                        1979.0                                                NaN

SeriesName                      Vitamin A supplementation coverage rate (% of children ages 6-59 months)  \
CountryName CountryCode Year
Brazil      BRA         1970.0                                                NaN
                        1971.0                                                NaN
                        1972.0                                                NaN
                        1973.0                                                NaN
                        1974.0                                                NaN
                        1975.0                                                NaN
                        1976.0                                                NaN
                        1977.0                                                NaN
                        1978.0                                                NaN
                        1979.0                                                NaN

SeriesName                      Wanted fertility rate (births per woman)  \
CountryName CountryCode Year
Brazil      BRA         1970.0                                       NaN
                        1971.0                                       NaN
                        1972.0                                       NaN
                        1973.0                                       NaN
                        1974.0                                       NaN
                        1975.0                                       NaN
                        1976.0                                       NaN
                        1977.0                                       NaN
                        1978.0                                       NaN
                        1979.0                                       NaN

SeriesName                      Women who were first married by age 15 (% of women ages 20-24)  \
CountryName CountryCode Year
Brazil      BRA         1970.0                                                NaN
                        1971.0                                                NaN
                        1972.0                                                NaN
                        1973.0                                                NaN
                        1974.0                                                NaN
                        1975.0                                                NaN
                        1976.0                                                NaN
                        1977.0                                                NaN
                        1978.0                                                NaN
                        1979.0                                                NaN

SeriesName                      Women who were first married by age 18 (% of women ages 20-24)  \
CountryName CountryCode Year
Brazil      BRA         1970.0                                                NaN
                        1971.0                                                NaN
                        1972.0                                                NaN
                        1973.0                                                NaN
                        1974.0                                                NaN
                        1975.0                                                NaN
                        1976.0                                                NaN
                        1977.0                                                NaN
                        1978.0                                                NaN
                        1979.0                                                NaN

SeriesName                      Women's share of population ages 15+ living with HIV (%)  \
CountryName CountryCode Year
Brazil      BRA         1970.0                                                NaN
                        1971.0                                                NaN
                        1972.0                                                NaN
                        1973.0                                                NaN
                        1974.0                                                NaN
                        1975.0                                                NaN
                        1976.0                                                NaN
                        1977.0                                                NaN
                        1978.0                                                NaN
                        1979.0                                                NaN

SeriesName                      Young people (ages 15-24) newly infected with HIV
CountryName CountryCode Year
Brazil      BRA         1970.0                                                NaN
                        1971.0                                                NaN
                        1972.0                                                NaN
                        1973.0                                                NaN
                        1974.0                                                NaN
                        1975.0                                                NaN
                        1976.0                                                NaN
                        1977.0                                                NaN
                        1978.0                                                NaN
                        1979.0                                                NaN

[10 rows x 263 columns]

Looking at the new Health dataframe, we can see that there are the same number of rows as with the other 3 datasets, indicating the same 50 year period. This will need to be adjusted according to the time series before cleaning, in order to allocate the correct cleaning methods and framework. With the final dataframe pivoted in the same way as the other 4 dataframes, I can now clean the dataset and allocate my time series in order to make a combined dataframe that can be used for the machine learning analysis. I will now clean each dataframe and explain my reasoning as to why I performed the actions I did.

In [32]:
# Creating a CSV file for the cleaning section
df_health_reshape.to_csv(r'C:\Users\Jim\Desktop\Health_Rotated.csv')

## Cleaning (Next Notebook)
With the data prepared for cleaning, now I can proceed to clean all the dataframes according to my time series and combine the dataframes into an aggregated dataframe.

In [67]:
df_economy_reshape

SeriesName                       Adjusted net national income (annual % growth)  \
CountryName  CountryCode Year
Brazil       BRA         1970.0                                             NaN
                         1971.0                                       11.642225
                         1972.0                                       12.379004
                         1973.0                                       12.214610
                         1974.0                                        5.160031
...                                                                         ...
South Africa ZAF         2015.0                                        3.600109
                         2016.0                                       -0.103042
                         2017.0                                        2.581799
                         2018.0                                       -0.093618
                         2019.0                                             NaN

SeriesName                       Adjusted net national income (constant 2010 US$)  \
CountryName  CountryCode Year
Brazil       BRA         1970.0                                      3.918974e+11
                         1971.0                                      4.375230e+11
                         1972.0                                      4.916840e+11
                         1973.0                                      5.517413e+11
                         1974.0                                      5.802113e+11
...                                                                           ...
South Africa ZAF         2015.0                                      3.438474e+11
                         2016.0                                      3.434931e+11
                         2017.0                                      3.523614e+11
                         2018.0                                      3.520315e+11
                         2019.0                                               NaN

SeriesName                       Adjusted net national income (current US$)  \
CountryName  CountryCode Year
Brazil       BRA         1970.0                                3.786021e+10
                         1971.0                                4.414620e+10
                         1972.0                                5.252340e+10
                         1973.0                                7.058820e+10
                         1974.0                                9.341705e+10
...                                                                     ...
South Africa ZAF         2015.0                                2.588321e+11
                         2016.0                                2.389447e+11
                         2017.0                                2.825657e+11
                         2018.0                                2.956752e+11
                         2019.0                                         NaN

SeriesName                       Adjusted net national income per capita (annual % growth)  \
CountryName  CountryCode Year
Brazil       BRA         1970.0                                                NaN
                         1971.0                                           8.928380
                         1972.0                                           9.704598
                         1973.0                                           9.580841
                         1974.0                                           2.702725
...                                                                            ...
South Africa ZAF         2015.0                                           2.028188
                         2016.0                                          -1.555696
                         2017.0                                           1.147830
                         2018.0                                          -1.440878
                         2019.0                                                NaN

SeriesName                       Adjusted net national income per capita (constant 2010 US$)  \
CountryName  CountryCode Year
Brazil       BRA         1970.0                                        4120.323413
                         1971.0                                        4488.201546
                         1972.0                                        4923.763456
                         1973.0                                        5395.501408
                         1974.0                                        5541.326994
...                                                                            ...
South Africa ZAF         2015.0                                        6208.159544
                         2016.0                                        6111.579455
                         2017.0                                        6181.729998
                         2018.0                                        6092.658823
                         2019.0                                                NaN

SeriesName                       Adjusted net national income per capita (current US$)  \
CountryName  CountryCode Year
Brazil       BRA         1970.0                                         398.053948
                         1971.0                                         452.860827
                         1972.0                                         525.973644
                         1973.0                                         690.284997
                         1974.0                                         892.182583
...                                                                            ...
South Africa ZAF         2015.0                                        4673.210034
                         2016.0                                        4251.408416
                         2017.0                                        4957.253510
                         2018.0                                        5117.291609
                         2019.0                                                NaN

SeriesName                       Adjusted net savings, excluding particulate emission damage (% of GNI)  \
CountryName  CountryCode Year
Brazil       BRA         1970.0                                                NaN
                         1971.0                                                NaN
                         1972.0                                                NaN
                         1973.0                                                NaN
                         1974.0                                                NaN
...                                                                            ...
South Africa ZAF         2015.0                                           1.792771
                         2016.0                                           0.482315
                         2017.0                                           1.351016
                         2018.0                                          -0.242971
                         2019.0                                                NaN

SeriesName                       Adjusted net savings, excluding particulate emission damage (current US$)  \
CountryName  CountryCode Year
Brazil       BRA         1970.0                                                NaN
                         1971.0                                                NaN
                         1972.0                                                NaN
                         1973.0                                                NaN
                         1974.0                                                NaN
...                                                                            ...
South Africa ZAF         2015.0                                       5.553092e+09
                         2016.0                                       1.389873e+09
                         2017.0                                       4.580899e+09
                         2018.0                                      -8.665527e+08
                         2019.0                                                NaN

SeriesName                       Adjusted net savings, including particulate emission damage (% of GNI)  \
CountryName  CountryCode Year
Brazil       BRA         1970.0                                                NaN
                         1971.0                                                NaN
                         1972.0                                                NaN
                         1973.0                                                NaN
                         1974.0                                                NaN
...                                                                            ...
South Africa ZAF         2015.0                                           1.488583
                         2016.0                                           0.180089
                         2017.0                                           1.040869
                         2018.0                                          -0.553118
                         2019.0                                                NaN

SeriesName                       Adjusted net savings, including particulate emission damage (current US$)  \
CountryName  CountryCode Year
Brazil       BRA         1970.0                                                NaN
                         1971.0                                                NaN
                         1972.0                                                NaN
                         1973.0                                                NaN
                         1974.0                                                NaN
...                                                                            ...
South Africa ZAF         2015.0                                       4.610872e+09
                         2016.0                                       5.189576e+08
                         2017.0                                       3.529281e+09
                         2018.0                                      -1.972689e+09
                         2019.0                                                NaN

SeriesName                       ...  \
CountryName  CountryCode Year    ...
Brazil       BRA         1970.0  ...
                         1971.0  ...
                         1972.0  ...
                         1973.0  ...
                         1974.0  ...
...                              ...
South Africa ZAF         2015.0  ...
                         2016.0  ...
                         2017.0  ...
                         2018.0  ...
                         2019.0  ...

SeriesName                       Total reserves (includes gold, current US$)  \
CountryName  CountryCode Year
Brazil       BRA         1970.0                                 1.189905e+09
                         1971.0                                 1.753865e+09
                         1972.0                                 4.218806e+09
                         1973.0                                 6.508867e+09
                         1974.0                                 5.463238e+09
...                                                                      ...
South Africa ZAF         2015.0                                 4.588707e+10
                         2016.0                                 4.718013e+10
                         2017.0                                 5.072289e+10
                         2018.0                                 5.164204e+10
                         2019.0                                 5.505589e+10

SeriesName                       Total reserves in months of imports  \
CountryName  CountryCode Year
Brazil       BRA         1970.0                                  NaN
                         1971.0                                  NaN
                         1972.0                                  NaN
                         1973.0                                  NaN
                         1974.0                                  NaN
...                                                              ...
South Africa ZAF         2015.0                             4.752628
                         2016.0                             5.470245
                         2017.0                             5.264496
                         2018.0                             4.840142
                         2019.0                             5.453691

SeriesName                       Total reserves minus gold (current US$)  \
CountryName  CountryCode Year
Brazil       BRA         1970.0                             1.141660e+09
                         1971.0                             1.696186e+09
                         1972.0                             4.132748e+09
                         1973.0                             6.359911e+09
                         1974.0                             5.215753e+09
...                                                                  ...
South Africa ZAF         2015.0                             4.161951e+10
                         2016.0                             4.256559e+10
                         2017.0                             4.549929e+10
                         2018.0                             4.647827e+10
                         2019.0                             4.891973e+10

SeriesName                       Trade (% of GDP)  \
CountryName  CountryCode Year
Brazil       BRA         1970.0         14.479195
                         1971.0         14.551280
                         1972.0         16.103251
                         1973.0         17.773259
                         1974.0         21.896847
...                                           ...
South Africa ZAF         2015.0         61.617073
                         2016.0         60.638188
                         2017.0         57.973895
                         2018.0         59.470334
                         2019.0         59.204536

SeriesName                       Trade in services (% of GDP)  \
CountryName  CountryCode Year
Brazil       BRA         1970.0                           NaN
                         1971.0                           NaN
                         1972.0                           NaN
                         1973.0                           NaN
                         1974.0                           NaN
...                                                       ...
South Africa ZAF         2015.0                      9.628084
                         2016.0                      9.886579
                         2017.0                      9.140373
                         2018.0                      8.816827
                         2019.0                      8.650270

SeriesName                       Transport services (% of service exports, BoP)  \
CountryName  CountryCode Year
Brazil       BRA         1970.0                                             NaN
                         1971.0                                             NaN
                         1972.0                                             NaN
                         1973.0                                             NaN
                         1974.0                                             NaN
...                                                                         ...
South Africa ZAF         2015.0                                       16.412558
                         2016.0                                       15.230954
                         2017.0                                       14.700026
                         2018.0                                       13.833318
                         2019.0                                       14.326546

SeriesName                       Transport services (% of service imports, BoP)  \
CountryName  CountryCode Year
Brazil       BRA         1970.0                                             NaN
                         1971.0                                             NaN
                         1972.0                                             NaN
                         1973.0                                             NaN
                         1974.0                                             NaN
...                                                                         ...
South Africa ZAF         2015.0                                       41.557783
                         2016.0                                       37.947026
                         2017.0                                       39.323200
                         2018.0                                       41.326406
                         2019.0                                       41.577081

SeriesName                       Travel services (% of service exports, BoP)  \
CountryName  CountryCode Year
Brazil       BRA         1970.0                                          NaN
                         1971.0                                          NaN
                         1972.0                                          NaN
                         1973.0                                          NaN
                         1974.0                                          NaN
...                                                                      ...
South Africa ZAF         2015.0                                    54.875629
                         2016.0                                    55.142912
                         2017.0                                    55.896968
                         2018.0                                    56.292741
                         2019.0                                    56.967935

SeriesName                       Travel services (% of service imports, BoP)  \
CountryName  CountryCode Year
Brazil       BRA         1970.0                                          NaN
                         1971.0                                          NaN
                         1972.0                                          NaN
                         1973.0                                          NaN
                         1974.0                                          NaN
...                                                                      ...
South Africa ZAF         2015.0                                    19.305016
                         2016.0                                    19.131440
                         2017.0                                    20.138800
                         2018.0                                    20.614470
                         2019.0                                    20.041388

SeriesName                       Use of IMF credit (DOD, current US$)
CountryName  CountryCode Year
Brazil       BRA         1970.0                          0.000000e+00
                         1971.0                          0.000000e+00
                         1972.0                          0.000000e+00
                         1973.0                          0.000000e+00
                         1974.0                          0.000000e+00
...                                                               ...
South Africa ZAF         2015.0                          2.474104e+09
                         2016.0                          2.400190e+09
                         2017.0                          2.542671e+09
                         2018.0                          2.483140e+09
                         2019.0                          2.468918e+09

[250 rows x 332 columns]

In [68]:
df_education_reshape

SeriesName                       Access to clean fuels and technologies for cooking (% of population)  \
CountryName  CountryCode Year
Brazil       BRA         1970.0                                                NaN
                         1971.0                                                NaN
                         1972.0                                                NaN
                         1973.0                                                NaN
                         1974.0                                                NaN
...                                                                            ...
South Africa ZAF         2015.0                                              83.64
                         2016.0                                              84.75
                         2017.0                                                NaN
                         2018.0                                                NaN
                         2019.0                                                NaN

SeriesName                       Access to electricity (% of population)  \
CountryName  CountryCode Year
Brazil       BRA         1970.0                                      NaN
                         1971.0                                      NaN
                         1972.0                                      NaN
                         1973.0                                      NaN
                         1974.0                                      NaN
...                                                                  ...
South Africa ZAF         2015.0                                85.500000
                         2016.0                                84.200000
                         2017.0                                84.400000
                         2018.0                                91.229874
                         2019.0                                      NaN

SeriesName                       Access to electricity, rural (% of rural population)  \
CountryName  CountryCode Year
Brazil       BRA         1970.0                                                NaN
                         1971.0                                                NaN
                         1972.0                                                NaN
                         1973.0                                                NaN
                         1974.0                                                NaN
...                                                                            ...
South Africa ZAF         2015.0                                          75.363531
                         2016.0                                          70.715722
                         2017.0                                          70.314530
                         2018.0                                          89.598819
                         2019.0                                                NaN

SeriesName                       Access to electricity, urban (% of urban population)  \
CountryName  CountryCode Year
Brazil       BRA         1970.0                                                NaN
                         1971.0                                                NaN
                         1972.0                                                NaN
                         1973.0                                                NaN
                         1974.0                                                NaN
...                                                                            ...
South Africa ZAF         2015.0                                          90.999474
                         2016.0                                          91.352501
                         2017.0                                          91.704765
                         2018.0                                          92.056892
                         2019.0                                                NaN

SeriesName                       Adjusted net enrollment rate, primary (% of primary school age children)  \
CountryName  CountryCode Year
Brazil       BRA         1970.0                                                NaN
                         1971.0                                                NaN
                         1972.0                                                NaN
                         1973.0                                                NaN
                         1974.0                                                NaN
...                                                                            ...
South Africa ZAF         2015.0                                           95.64551
                         2016.0                                                NaN
                         2017.0                                           92.44938
                         2018.0                                                NaN
                         2019.0                                                NaN

SeriesName                       Adjusted net enrollment rate, primary, female (% of primary school age children)  \
CountryName  CountryCode Year
Brazil       BRA         1970.0                                                NaN
                         1971.0                                                NaN
                         1972.0                                                NaN
                         1973.0                                                NaN
                         1974.0                                                NaN
...                                                                            ...
South Africa ZAF         2015.0                                                NaN
                         2016.0                                                NaN
                         2017.0                                           94.66547
                         2018.0                                                NaN
                         2019.0                                                NaN

SeriesName                       Adjusted net enrollment rate, primary, male (% of primary school age children)  \
CountryName  CountryCode Year
Brazil       BRA         1970.0                                                NaN
                         1971.0                                                NaN
                         1972.0                                                NaN
                         1973.0                                                NaN
                         1974.0                                                NaN
...                                                                            ...
South Africa ZAF         2015.0                                                NaN
                         2016.0                                                NaN
                         2017.0                                           90.27715
                         2018.0                                                NaN
                         2019.0                                                NaN

SeriesName                       Adolescents out of school (% of lower secondary school age)  \
CountryName  CountryCode Year
Brazil       BRA         1970.0                                                NaN
                         1971.0                                                NaN
                         1972.0                                                NaN
                         1973.0                                                NaN
                         1974.0                                                NaN
...                                                                            ...
South Africa ZAF         2015.0                                                NaN
                         2016.0                                                NaN
                         2017.0                                          19.139099
                         2018.0                                          14.363630
                         2019.0                                                NaN

SeriesName                       Adolescents out of school, female (% of female lower secondary school age)  \
CountryName  CountryCode Year
Brazil       BRA         1970.0                                                NaN
                         1971.0                                                NaN
                         1972.0                                                NaN
                         1973.0                                                NaN
                         1974.0                                                NaN
...                                                                            ...
South Africa ZAF         2015.0                                                NaN
                         2016.0                                                NaN
                         2017.0                                           21.98757
                         2018.0                                           13.17866
                         2019.0                                                NaN

SeriesName                       Adolescents out of school, male (% of male lower secondary school age)  \
CountryName  CountryCode Year
Brazil       BRA         1970.0                                                NaN
                         1971.0                                                NaN
                         1972.0                                                NaN
                         1973.0                                                NaN
                         1974.0                                                NaN
...                                                                            ...
South Africa ZAF         2015.0                                                NaN
                         2016.0                                                NaN
                         2017.0                                           16.33079
                         2018.0                                           15.53172
                         2019.0                                                NaN

SeriesName                       ...  \
CountryName  CountryCode Year    ...
Brazil       BRA         1970.0  ...
                         1971.0  ...
                         1972.0  ...
                         1973.0  ...
                         1974.0  ...
...                              ...
South Africa ZAF         2015.0  ...
                         2016.0  ...
                         2017.0  ...
                         2018.0  ...
                         2019.0  ...

SeriesName                       Trained teachers in upper secondary education, female (% of female teachers)  \
CountryName  CountryCode Year
Brazil       BRA         1970.0                                                NaN
                         1971.0                                                NaN
                         1972.0                                                NaN
                         1973.0                                                NaN
                         1974.0                                                NaN
...                                                                            ...
South Africa ZAF         2015.0                                                NaN
                         2016.0                                                NaN
                         2017.0                                                NaN
                         2018.0                                                NaN
                         2019.0                                                NaN

SeriesName                       Trained teachers in upper secondary education, male (% of male teachers)  \
CountryName  CountryCode Year
Brazil       BRA         1970.0                                                NaN
                         1971.0                                                NaN
                         1972.0                                                NaN
                         1973.0                                                NaN
                         1974.0                                                NaN
...                                                                            ...
South Africa ZAF         2015.0                                                NaN
                         2016.0                                                NaN
                         2017.0                                                NaN
                         2018.0                                                NaN
                         2019.0                                                NaN

SeriesName                       Urban land area (sq. km)  \
CountryName  CountryCode Year
Brazil       BRA         1970.0                       NaN
                         1971.0                       NaN
                         1972.0                       NaN
                         1973.0                       NaN
                         1974.0                       NaN
...                                                   ...
South Africa ZAF         2015.0                       NaN
                         2016.0                       NaN
                         2017.0                       NaN
                         2018.0                       NaN
                         2019.0                       NaN

SeriesName                       Urban land area where elevation is below 5 meters (% of total land area)  \
CountryName  CountryCode Year
Brazil       BRA         1970.0                                                NaN
                         1971.0                                                NaN
                         1972.0                                                NaN
                         1973.0                                                NaN
                         1974.0                                                NaN
...                                                                            ...
South Africa ZAF         2015.0                                                NaN
                         2016.0                                                NaN
                         2017.0                                                NaN
                         2018.0                                                NaN
                         2019.0                                                NaN

SeriesName                       Urban land area where elevation is below 5 meters (sq. km)  \
CountryName  CountryCode Year
Brazil       BRA         1970.0                                                NaN
                         1971.0                                                NaN
                         1972.0                                                NaN
                         1973.0                                                NaN
                         1974.0                                                NaN
...                                                                            ...
South Africa ZAF         2015.0                                                NaN
                         2016.0                                                NaN
                         2017.0                                                NaN
                         2018.0                                                NaN
                         2019.0                                                NaN

SeriesName                       Urban population  \
CountryName  CountryCode Year
Brazil       BRA         1970.0        53176875.0
                         1971.0        55461933.0
                         1972.0        57797612.0
                         1973.0        60184827.0
                         1974.0        62641530.0
...                                           ...
South Africa ZAF         2015.0        35905874.0
                         2016.0        36724030.0
                         2017.0        37534797.0
                         2018.0        38339668.0
                         2019.0        39149717.0

SeriesName                       Urban population (% of total population)  \
CountryName  CountryCode Year
Brazil       BRA         1970.0                                    55.909
                         1971.0                                    56.894
                         1972.0                                    57.879
                         1973.0                                    58.855
                         1974.0                                    59.826
...                                                                   ...
South Africa ZAF         2015.0                                    64.828
                         2016.0                                    65.341
                         2017.0                                    65.850
                         2018.0                                    66.355
                         2019.0                                    66.856

SeriesName                       Urban population growth (annual %)  \
CountryName  CountryCode Year
Brazil       BRA         1970.0                            4.268093
                         1971.0                            4.207327
                         1972.0                            4.125057
                         1973.0                            4.047282
                         1974.0                            4.000820
...                                                             ...
South Africa ZAF         2015.0                            2.328063
                         2016.0                            2.253041
                         2017.0                            2.183711
                         2018.0                            2.121666
                         2019.0                            2.090812

SeriesName                       Urban population living in areas where elevation is below 5 meters (% of total population)  \
CountryName  CountryCode Year
Brazil       BRA         1970.0                                                NaN
                         1971.0                                                NaN
                         1972.0                                                NaN
                         1973.0                                                NaN
                         1974.0                                                NaN
...                                                                            ...
South Africa ZAF         2015.0                                                NaN
                         2016.0                                                NaN
                         2017.0                                                NaN
                         2018.0                                                NaN
                         2019.0                                                NaN

SeriesName                       Water productivity, total (constant 2010 US$ GDP per cubic meter of total freshwater withdrawal)
CountryName  CountryCode Year
Brazil       BRA         1970.0                                                NaN
                         1971.0                                                NaN
                         1972.0                                                NaN
                         1973.0                                                NaN
                         1974.0                                                NaN
...                                                                            ...
South Africa ZAF         2015.0                                                NaN

In [69]:
df_public_reshape

SeriesName                       Adequacy of social insurance programs (% of total welfare of beneficiary households)  \
CountryName  CountryCode Year
Brazil       BRA         1970.0                                                NaN
                         1971.0                                                NaN
                         1972.0                                                NaN
                         1973.0                                                NaN
                         1974.0                                                NaN
...                                                                            ...
South Africa ZAF         2015.0                                                NaN
                         2016.0                                                NaN
                         2017.0                                                NaN
                         2018.0                                                NaN
                         2019.0                                                NaN

SeriesName                       Adequacy of social protection and labor programs (% of total welfare of beneficiary households)  \
CountryName  CountryCode Year
Brazil       BRA         1970.0                                                NaN
                         1971.0                                                NaN
                         1972.0                                                NaN
                         1973.0                                                NaN
                         1974.0                                                NaN
...                                                                            ...
South Africa ZAF         2015.0                                                NaN
                         2016.0                                                NaN
                         2017.0                                                NaN
                         2018.0                                                NaN
                         2019.0                                                NaN

SeriesName                       Adequacy of social safety net programs (% of total welfare of beneficiary households)  \
CountryName  CountryCode Year
Brazil       BRA         1970.0                                                NaN
                         1971.0                                                NaN
                         1972.0                                                NaN
                         1973.0                                                NaN
                         1974.0                                                NaN
...                                                                            ...
South Africa ZAF         2015.0                                                NaN
                         2016.0                                                NaN
                         2017.0                                                NaN
                         2018.0                                                NaN
                         2019.0                                                NaN

SeriesName                       Adequacy of unemployment benefits and ALMP (% of total welfare of beneficiary households)  \
CountryName  CountryCode Year
Brazil       BRA         1970.0                                                NaN
                         1971.0                                                NaN
                         1972.0                                                NaN
                         1973.0                                                NaN
                         1974.0                                                NaN
...                                                                            ...
South Africa ZAF         2015.0                                                NaN
                         2016.0                                                NaN
                         2017.0                                                NaN
                         2018.0                                                NaN
                         2019.0                                                NaN

SeriesName                       Air transport, freight (million ton-km)  \
CountryName  CountryCode Year
Brazil       BRA         1970.0                               164.100006
                         1971.0                               180.199997
                         1972.0                               254.300003
                         1973.0                               316.700012
                         1974.0                               407.100006
...                                                                  ...
South Africa ZAF         2015.0                               892.734324
                         2016.0                               767.271186
                         2017.0                               833.347948
                         2018.0                               716.246208
                         2019.0                                      NaN

SeriesName                       Air transport, passengers carried  \
CountryName  CountryCode Year
Brazil       BRA         1970.0                       3.339800e+06
                         1971.0                       3.911000e+06
                         1972.0                       4.671400e+06
                         1973.0                       5.842400e+06
                         1974.0                       6.855500e+06
...                                                            ...
South Africa ZAF         2015.0                       1.888290e+07
                         2016.0                       1.974493e+07
                         2017.0                       2.082104e+07
                         2018.0                       2.392175e+07
                         2019.0                                NaN

SeriesName                       Air transport, registered carrier departures worldwide  \
CountryName  CountryCode Year
Brazil       BRA         1970.0                                      137700.000000
                         1971.0                                      149300.000000
                         1972.0                                      156700.000000
                         1973.0                                      173200.000000
                         1974.0                                      204800.000000
...                                                                            ...
South Africa ZAF         2015.0                                      209734.000000
                         2016.0                                      212865.000000
                         2017.0                                      216275.000000
                         2018.0                                      180317.186001
                         2019.0                                                NaN

SeriesName                       Annualized average growth rate in per capita real survey mean consumption or income, bottom 40% of population (%)  \
CountryName  CountryCode Year
Brazil       BRA         1970.0                                                NaN
                         1971.0                                                NaN
                         1972.0                                                NaN
                         1973.0                                                NaN
                         1974.0                                                NaN
...                                                                            ...
South Africa ZAF         2015.0                                                NaN
                         2016.0                                                NaN
                         2017.0                                                NaN
                         2018.0                                                NaN
                         2019.0                                                NaN

SeriesName                       Annualized average growth rate in per capita real survey mean consumption or income, total population (%)  \
CountryName  CountryCode Year
Brazil       BRA         1970.0                                                NaN
                         1971.0                                                NaN
                         1972.0                                                NaN
                         1973.0                                                NaN
                         1974.0                                                NaN
...                                                                            ...
South Africa ZAF         2015.0                                                NaN
                         2016.0                                                NaN
                         2017.0                                                NaN
                         2018.0                                                NaN
                         2019.0                                                NaN

SeriesName                       Armed forces personnel (% of total labor force)  \
CountryName  CountryCode Year
Brazil       BRA         1970.0                                              NaN
                         1971.0                                              NaN
                         1972.0                                              NaN
                         1973.0                                              NaN
                         1974.0                                              NaN
...                                                                          ...
South Africa ZAF         2015.0                                         0.378745
                         2016.0                                         0.368445
                         2017.0                                         0.352470
                         2018.0                                              NaN
                         2019.0                                              NaN

SeriesName                       ...  \
CountryName  CountryCode Year    ...
Brazil       BRA         1970.0  ...
                         1971.0  ...
                         1972.0  ...
                         1973.0  ...
                         1974.0  ...
...                              ...
South Africa ZAF         2015.0  ...
                         2016.0  ...
                         2017.0  ...
                         2018.0  ...
                         2019.0  ...

SeriesName                       Unemployment, youth male (% of male labor force ages 15-24) (modeled ILO estimate)  \
CountryName  CountryCode Year
Brazil       BRA         1970.0                                                NaN
                         1971.0                                                NaN
                         1972.0                                                NaN
                         1973.0                                                NaN
                         1974.0                                                NaN
...                                                                            ...
South Africa ZAF         2015.0                                          46.543999
                         2016.0                                          48.896000
                         2017.0                                          49.206001
                         2018.0                                          49.505001
                         2019.0                                          52.256001

SeriesName                       Unemployment, youth male (% of male labor force ages 15-24) (national estimate)  \
CountryName  CountryCode Year
Brazil       BRA         1970.0                                                NaN
                         1971.0                                                NaN
                         1972.0                                                NaN
                         1973.0                                                NaN
                         1974.0                                                NaN
...                                                                            ...
South Africa ZAF         2015.0                                          46.324200
                         2016.0                                          48.586601
                         2017.0                                          48.822399
                         2018.0                                          49.151199
                         2019.0                                          53.222000

SeriesName                       Unemployment, youth total (% of total labor force ages 15-24) (modeled ILO estimate)  \
CountryName  CountryCode Year
Brazil       BRA         1970.0                                                NaN
                         1971.0                                                NaN
                         1972.0                                                NaN
                         1973.0                                                NaN
                         1974.0                                                NaN
...                                                                            ...
South Africa ZAF         2015.0                                          50.320999
                         2016.0                                          53.660000
                         2017.0                                          53.620998
                         2018.0                                          53.791000
                         2019.0                                          55.973000

SeriesName                       Unemployment, youth total (% of total labor force ages 15-24) (national estimate)  \
CountryName  CountryCode Year
Brazil       BRA         1970.0                                                NaN
                         1971.0                                                NaN
                         1972.0                                                NaN
                         1973.0                                                NaN
                         1974.0                                                NaN
...                                                                            ...
South Africa ZAF         2015.0                                          50.130402
                         2016.0                                          53.346401
                         2017.0                                          53.201801
                         2018.0                                          53.408199
                         2019.0                                          57.053398

SeriesName                       Vulnerable employment, female (% of female employment) (modeled ILO estimate)  \
CountryName  CountryCode Year
Brazil       BRA         1970.0                                                NaN
                         1971.0                                                NaN
                         1972.0                                                NaN
                         1973.0                                                NaN
                         1974.0                                                NaN
...                                                                            ...
South Africa ZAF         2015.0                                              9.815
                         2016.0                                              9.698
                         2017.0                                             10.220
                         2018.0                                             10.242
                         2019.0                                             10.234

SeriesName                       Vulnerable employment, male (% of male employment) (modeled ILO estimate)  \
CountryName  CountryCode Year
Brazil       BRA         1970.0                                                NaN
                         1971.0                                                NaN
                         1972.0                                                NaN
                         1973.0                                                NaN
                         1974.0                                                NaN
...                                                                            ...
South Africa ZAF         2015.0                                              9.133
                         2016.0                                              9.498
                         2017.0                                              9.689
                         2018.0                                             10.388
                         2019.0                                             10.348

SeriesName                       Vulnerable employment, total (% of total employment) (modeled ILO estimate)  \
CountryName  CountryCode Year
Brazil       BRA         1970.0                                                NaN
                         1971.0                                                NaN
                         1972.0                                                NaN
                         1973.0                                                NaN
                         1974.0                                                NaN
...                                                                            ...
South Africa ZAF         2015.0                                              9.429
                         2016.0                                              9.585
                         2017.0                                              9.921
                         2018.0                                             10.324
                         2019.0                                             10.298

SeriesName                       Wage and salaried workers, female (% of female employment) (modeled ILO estimate)  \
CountryName  CountryCode Year
Brazil       BRA         1970.0                                                NaN
                         1971.0                                                NaN
                         1972.0                                                NaN
                         1973.0                                                NaN
                         1974.0                                                NaN
...                                                                            ...
South Africa ZAF         2015.0                                          87.933998
                         2016.0                                          87.663002
                         2017.0                                          87.024002
                         2018.0                                          87.463997
                         2019.0                                          87.456001

SeriesName                       Wage and salaried workers, male (% of male employment) (modeled ILO estimate)  \
CountryName  CountryCode Year
Brazil       BRA         1970.0                                                NaN
                         1971.0                                                NaN
                         1972.0                                                NaN
                         1973.0                                                NaN
                         1974.0                                                NaN
...                                                                            ...
South Africa ZAF         2015.0                                          83.476997

In [70]:
df_private_reshape

SeriesName                       Agricultural raw materials exports (% of merchandise exports)  \
CountryName  CountryCode Year
Brazil       BRA         1970.0                                          11.895098
                         1971.0                                          10.494023
                         1972.0                                           9.322425
                         1973.0                                           8.521143
                         1974.0                                           5.991149
...                                                                            ...
South Africa ZAF         2015.0                                           2.179561
                         2016.0                                           2.351764
                         2017.0                                           2.346479
                         2018.0                                           2.322842
                         2019.0                                           1.849867

SeriesName                       Agricultural raw materials imports (% of merchandise imports)  \
CountryName  CountryCode Year
Brazil       BRA         1970.0                                           1.851044
                         1971.0                                           2.178320
                         1972.0                                           1.971959
                         1973.0                                           2.073260
                         1974.0                                           2.014877
...                                                                            ...
South Africa ZAF         2015.0                                           0.920385
                         2016.0                                           0.989361
                         2017.0                                           0.991302
                         2018.0                                           1.001650
                         2019.0                                           0.965994

SeriesName                       Average number of visits or required meetings with tax officials (for affected firms)  \
CountryName  CountryCode Year
Brazil       BRA         1970.0                                                NaN
                         1971.0                                                NaN
                         1972.0                                                NaN
                         1973.0                                                NaN
                         1974.0                                                NaN
...                                                                            ...
South Africa ZAF         2015.0                                                NaN
                         2016.0                                                NaN
                         2017.0                                                NaN
                         2018.0                                                NaN
                         2019.0                                                NaN

SeriesName                       Average time to clear exports through customs (days)  \
CountryName  CountryCode Year
Brazil       BRA         1970.0                                                NaN
                         1971.0                                                NaN
                         1972.0                                                NaN
                         1973.0                                                NaN
                         1974.0                                                NaN
...                                                                            ...
South Africa ZAF         2015.0                                                NaN
                         2016.0                                                NaN
                         2017.0                                                NaN
                         2018.0                                                NaN
                         2019.0                                                NaN

SeriesName                       Binding coverage, all products (%)  \
CountryName  CountryCode Year
Brazil       BRA         1970.0                                 NaN
                         1971.0                                 NaN
                         1972.0                                 NaN
                         1973.0                                 NaN
                         1974.0                                 NaN
...                                                             ...
South Africa ZAF         2015.0                               94.29
                         2016.0                               94.29
                         2017.0                               94.42
                         2018.0                               94.42
                         2019.0                                 NaN

SeriesName                       Binding coverage, manufactured products (%)  \
CountryName  CountryCode Year
Brazil       BRA         1970.0                                          NaN
                         1971.0                                          NaN
                         1972.0                                          NaN
                         1973.0                                          NaN
                         1974.0                                          NaN
...                                                                      ...
South Africa ZAF         2015.0                                        99.45
                         2016.0                                        99.45
                         2017.0                                        99.44
                         2018.0                                        99.44
                         2019.0                                          NaN

SeriesName                       Binding coverage, primary products (%)  \
CountryName  CountryCode Year
Brazil       BRA         1970.0                                     NaN
                         1971.0                                     NaN
                         1972.0                                     NaN
                         1973.0                                     NaN
                         1974.0                                     NaN
...                                                                 ...
South Africa ZAF         2015.0                                   80.03
                         2016.0                                   80.03
                         2017.0                                   80.56
                         2018.0                                   80.56
                         2019.0                                     NaN

SeriesName                       Bound rate, simple mean, all products (%)  \
CountryName  CountryCode Year
Brazil       BRA         1970.0                                        NaN
                         1971.0                                        NaN
                         1972.0                                        NaN
                         1973.0                                        NaN
                         1974.0                                        NaN
...                                                                    ...
South Africa ZAF         2015.0                                      19.27
                         2016.0                                      19.27
                         2017.0                                      19.35
                         2018.0                                      19.35
                         2019.0                                        NaN

SeriesName                       Bound rate, simple mean, manufactured products (%)  \
CountryName  CountryCode Year
Brazil       BRA         1970.0                                                NaN
                         1971.0                                                NaN
                         1972.0                                                NaN
                         1973.0                                                NaN
                         1974.0                                                NaN
...                                                                            ...
South Africa ZAF         2015.0                                              17.12
                         2016.0                                              17.12
                         2017.0                                              17.15
                         2018.0                                              17.15
                         2019.0                                                NaN

SeriesName                       Bound rate, simple mean, primary products (%)  \
CountryName  CountryCode Year
Brazil       BRA         1970.0                                            NaN
                         1971.0                                            NaN
                         1972.0                                            NaN
                         1973.0                                            NaN
                         1974.0                                            NaN
...                                                                        ...
South Africa ZAF         2015.0                                          27.32
                         2016.0                                          27.32
                         2017.0                                          27.54
                         2018.0                                          27.54
                         2019.0                                            NaN

SeriesName                       ...  \
CountryName  CountryCode Year    ...
Brazil       BRA         1970.0  ...
                         1971.0  ...
                         1972.0  ...
                         1973.0  ...
                         1974.0  ...
...                              ...
South Africa ZAF         2015.0  ...
                         2016.0  ...
                         2017.0  ...
                         2018.0  ...
                         2019.0  ...

SeriesName                       Time to import, documentary compliance (hours)  \
CountryName  CountryCode Year
Brazil       BRA         1970.0                                             NaN
                         1971.0                                             NaN
                         1972.0                                             NaN
                         1973.0                                             NaN
                         1974.0                                             NaN
...                                                                         ...
South Africa ZAF         2015.0                                            36.0
                         2016.0                                            36.0
                         2017.0                                            36.0
                         2018.0                                            36.0
                         2019.0                                            36.0

SeriesName                       Time to obtain an electrical connection (days)  \
CountryName  CountryCode Year
Brazil       BRA         1970.0                                             NaN
                         1971.0                                             NaN
                         1972.0                                             NaN
                         1973.0                                             NaN
                         1974.0                                             NaN
...                                                                         ...
South Africa ZAF         2015.0                                             NaN
                         2016.0                                             NaN
                         2017.0                                             NaN
                         2018.0                                             NaN
                         2019.0                                             NaN

SeriesName                       Time to prepare and pay taxes (hours)  \
CountryName  CountryCode Year
Brazil       BRA         1970.0                                    NaN
                         1971.0                                    NaN
                         1972.0                                    NaN
                         1973.0                                    NaN
                         1974.0                                    NaN
...                                                                ...
South Africa ZAF         2015.0                                  198.0
                         2016.0                                  203.0
                         2017.0                                  210.0
                         2018.0                                  210.0
                         2019.0                                  210.0

SeriesName                       Time to resolve insolvency (years)  \
CountryName  CountryCode Year
Brazil       BRA         1970.0                                 NaN
                         1971.0                                 NaN
                         1972.0                                 NaN
                         1973.0                                 NaN
                         1974.0                                 NaN
...                                                             ...
South Africa ZAF         2015.0                                 2.0
                         2016.0                                 2.0
                         2017.0                                 2.0
                         2018.0                                 2.0
                         2019.0                                 2.0

SeriesName                       Total tax and contribution rate (% of profit)  \
CountryName  CountryCode Year
Brazil       BRA         1970.0                                            NaN
                         1971.0                                            NaN
                         1972.0                                            NaN
                         1973.0                                            NaN
                         1974.0                                            NaN
...                                                                        ...
South Africa ZAF         2015.0                                           28.8
                         2016.0                                           28.8
                         2017.0                                           28.9
                         2018.0                                           29.1
                         2019.0                                           29.2

SeriesName                       Transport services (% of commercial service exports)  \
CountryName  CountryCode Year
Brazil       BRA         1970.0                                                NaN
                         1971.0                                                NaN
                         1972.0                                                NaN
                         1973.0                                                NaN
                         1974.0                                                NaN
...                                                                            ...
South Africa ZAF         2015.0                                          16.847245
                         2016.0                                          15.653246
                         2017.0                                          15.068708
                         2018.0                                          14.162340
                         2019.0                                          14.679005

SeriesName                       Transport services (% of commercial service imports)  \
CountryName  CountryCode Year
Brazil       BRA         1970.0                                                NaN
                         1971.0                                                NaN
                         1972.0                                                NaN
                         1973.0                                                NaN
                         1974.0                                                NaN
...                                                                            ...
South Africa ZAF         2015.0                                          42.714339
                         2016.0                                          39.012228
                         2017.0                                          40.328214
                         2018.0                                          42.323253
                         2019.0                                          42.588891

SeriesName                       Travel services (% of commercial service exports)  \
CountryName  CountryCode Year
Brazil       BRA         1970.0                                                NaN
                         1971.0                                                NaN
                         1972.0                                                NaN
                         1973.0                                                NaN
                         1974.0                                                NaN
...                                                                            ...
South Africa ZAF         2015.0                                          56.329009
                         2016.0                                          56.671801
                         2017.0                                          57.298885
                         2018.0                                          57.631651
                         2019.0                                          58.369448

SeriesName                       Travel services (% of commercial service imports)  \
CountryName  CountryCode Year
Brazil       BRA         1970.0                                                NaN
                         1971.0                                                NaN
                         1972.0                                                NaN
                         1973.0                                                NaN
                         1974.0                                                NaN
...                                                                            ...
South Africa ZAF         2015.0                                          19.842276
                         2016.0                                          19.668474
                         2017.0                                          20.653504
                         2018.0                                          21.111718
                         2019.0                                          20.529111

SeriesName                       Value lost due to electrical outages (% of sales for affected firms)
CountryName  CountryCode Year
Brazil       BRA         1970.0                                                NaN
                         1971.0                                                NaN
                         1972.0                                                NaN
                         1973.0                                                NaN
                         1974.0                                                NaN
...                                                                            ...
South Africa ZAF         2015.0                                                NaN
                         2016.0                                                NaN

In [71]:
df_health_reshape

SeriesName                       ARI treatment (% of children under 5 taken to a health provider)  \
CountryName  CountryCode Year
Brazil       BRA         1970.0                                                NaN
                         1971.0                                                NaN
                         1972.0                                                NaN
                         1973.0                                                NaN
                         1974.0                                                NaN
...                                                                            ...
South Africa ZAF         2015.0                                                NaN
                         2016.0                                               87.6
                         2017.0                                                NaN
                         2018.0                                                NaN
                         2019.0                                                NaN

SeriesName                       Adolescent fertility rate (births per 1,000 women ages 15-19)  \
CountryName  CountryCode Year
Brazil       BRA         1970.0                                            77.1184
                         1971.0                                            75.4532
                         1972.0                                            73.7880
                         1973.0                                            73.8080
                         1974.0                                            73.8280
...                                                                            ...
South Africa ZAF         2015.0                                            69.5352
                         2016.0                                            68.7216
                         2017.0                                            67.9080
                         2018.0                                            67.8488
                         2019.0                                                NaN

SeriesName                       Adults (ages 15+) and children (ages 0-14) newly infected with HIV  \
CountryName  CountryCode Year
Brazil       BRA         1970.0                                                NaN
                         1971.0                                                NaN
                         1972.0                                                NaN
                         1973.0                                                NaN
                         1974.0                                                NaN
...                                                                            ...
South Africa ZAF         2015.0                                           280000.0
                         2016.0                                           260000.0
                         2017.0                                           240000.0
                         2018.0                                           220000.0
                         2019.0                                           200000.0

SeriesName                       Adults (ages 15-49) newly infected with HIV  \
CountryName  CountryCode Year
Brazil       BRA         1970.0                                          NaN
                         1971.0                                          NaN
                         1972.0                                          NaN
                         1973.0                                          NaN
                         1974.0                                          NaN
...                                                                      ...
South Africa ZAF         2015.0                                     250000.0
                         2016.0                                     230000.0
                         2017.0                                     210000.0
                         2018.0                                     190000.0
                         2019.0                                     170000.0

SeriesName                       Age dependency ratio (% of working-age population)  \
CountryName  CountryCode Year
Brazil       BRA         1970.0                                          83.980449
                         1971.0                                          82.948217
                         1972.0                                          81.878391
                         1973.0                                          80.746489
                         1974.0                                          79.514392
...                                                                            ...
South Africa ZAF         2015.0                                          52.254651
                         2016.0                                          52.289475
                         2017.0                                          52.368040
                         2018.0                                          52.433201
                         2019.0                                          52.400879

SeriesName                       Age dependency ratio, old (% of working-age population)  \
CountryName  CountryCode Year
Brazil       BRA         1970.0                                           6.318839
                         1971.0                                           6.359471
                         1972.0                                           6.395842
                         1973.0                                           6.427570
                         1974.0                                           6.453058
...                                                                            ...
South Africa ZAF         2015.0                                           7.657545
                         2016.0                                           7.800602
                         2017.0                                           7.952359
                         2018.0                                           8.106405
                         2019.0                                           8.252897

SeriesName                       Age dependency ratio, young (% of working-age population)  \
CountryName  CountryCode Year
Brazil       BRA         1970.0                                          77.661610
                         1971.0                                          76.588746
                         1972.0                                          75.482549
                         1973.0                                          74.318919
                         1974.0                                          73.061335
...                                                                            ...
South Africa ZAF         2015.0                                          44.597106
                         2016.0                                          44.488872
                         2017.0                                          44.415681
                         2018.0                                          44.326796
                         2019.0                                          44.147982

SeriesName                       Annualized average growth rate in per capita real survey mean consumption or income, bottom 40% of population (%)  \
CountryName  CountryCode Year
Brazil       BRA         1970.0                                                NaN
                         1971.0                                                NaN
                         1972.0                                                NaN
                         1973.0                                                NaN
                         1974.0                                                NaN
...                                                                            ...
South Africa ZAF         2015.0                                                NaN
                         2016.0                                                NaN
                         2017.0                                                NaN
                         2018.0                                                NaN
                         2019.0                                                NaN

SeriesName                       Annualized average growth rate in per capita real survey mean consumption or income, total population (%)  \
CountryName  CountryCode Year
Brazil       BRA         1970.0                                                NaN
                         1971.0                                                NaN
                         1972.0                                                NaN
                         1973.0                                                NaN
                         1974.0                                                NaN
...                                                                            ...
South Africa ZAF         2015.0                                                NaN
                         2016.0                                                NaN
                         2017.0                                                NaN
                         2018.0                                                NaN
                         2019.0                                                NaN

SeriesName                       Antiretroviral therapy coverage (% of people living with HIV)  \
CountryName  CountryCode Year
Brazil       BRA         1970.0                                                NaN
                         1971.0                                                NaN
                         1972.0                                                NaN
                         1973.0                                                NaN
                         1974.0                                                NaN
...                                                                            ...
South Africa ZAF         2015.0                                               53.0
                         2016.0                                               58.0
                         2017.0                                               62.0
                         2018.0                                               66.0
                         2019.0                                               70.0

SeriesName                       ...  \
CountryName  CountryCode Year    ...
Brazil       BRA         1970.0  ...
                         1971.0  ...
                         1972.0  ...
                         1973.0  ...
                         1974.0  ...
...                              ...
South Africa ZAF         2015.0  ...
                         2016.0  ...
                         2017.0  ...
                         2018.0  ...
                         2019.0  ...

SeriesName                       Tuberculosis treatment success rate (% of new cases)  \
CountryName  CountryCode Year
Brazil       BRA         1970.0                                                NaN
                         1971.0                                                NaN
                         1972.0                                                NaN
                         1973.0                                                NaN
                         1974.0                                                NaN
...                                                                            ...
South Africa ZAF         2015.0                                               81.0
                         2016.0                                               82.0
                         2017.0                                               77.0
                         2018.0                                                NaN
                         2019.0                                                NaN

SeriesName                       UHC service coverage index  \
CountryName  CountryCode Year
Brazil       BRA         1970.0                         NaN
                         1971.0                         NaN
                         1972.0                         NaN
                         1973.0                         NaN
                         1974.0                         NaN
...                                                     ...
South Africa ZAF         2015.0                        69.0
                         2016.0                         NaN
                         2017.0                        69.0
                         2018.0                         NaN
                         2019.0                         NaN

SeriesName                       Unmet need for contraception (% of married women ages 15-49)  \
CountryName  CountryCode Year
Brazil       BRA         1970.0                                                NaN
                         1971.0                                                NaN
                         1972.0                                                NaN
                         1973.0                                                NaN
                         1974.0                                                NaN
...                                                                            ...
South Africa ZAF         2015.0                                                NaN
                         2016.0                                               14.9
                         2017.0                                                NaN
                         2018.0                                                NaN
                         2019.0                                                NaN

SeriesName                       Use of insecticide-treated bed nets (% of under-5 population)  \
CountryName  CountryCode Year
Brazil       BRA         1970.0                                                NaN
                         1971.0                                                NaN
                         1972.0                                                NaN
                         1973.0                                                NaN
                         1974.0                                                NaN
...                                                                            ...
South Africa ZAF         2015.0                                                NaN
                         2016.0                                                NaN
                         2017.0                                                NaN
                         2018.0                                                NaN
                         2019.0                                                NaN

SeriesName                       Vitamin A supplementation coverage rate (% of children ages 6-59 months)  \
CountryName  CountryCode Year
Brazil       BRA         1970.0                                                NaN
                         1971.0                                                NaN
                         1972.0                                                NaN
                         1973.0                                                NaN
                         1974.0                                                NaN
...                                                                            ...
South Africa ZAF         2015.0                                                NaN
                         2016.0                                               50.0
                         2017.0                                               47.0
                         2018.0                                                NaN
                         2019.0                                                NaN

SeriesName                       Wanted fertility rate (births per woman)  \
CountryName  CountryCode Year
Brazil       BRA         1970.0                                       NaN
                         1971.0                                       NaN
                         1972.0                                       NaN
                         1973.0                                       NaN
                         1974.0                                       NaN
...                                                                   ...
South Africa ZAF         2015.0                                       NaN
                         2016.0                                       2.0
                         2017.0                                       NaN
                         2018.0                                       NaN
                         2019.0                                       NaN

SeriesName                       Women who were first married by age 15 (% of women ages 20-24)  \
CountryName  CountryCode Year
Brazil       BRA         1970.0                                                NaN
                         1971.0                                                NaN
                         1972.0                                                NaN
                         1973.0                                                NaN
                         1974.0                                                NaN
...                                                                            ...
South Africa ZAF         2015.0                                                NaN
                         2016.0                                                0.9
                         2017.0                                                NaN
                         2018.0                                                NaN
                         2019.0                                                NaN

SeriesName                       Women who were first married by age 18 (% of women ages 20-24)  \
CountryName  CountryCode Year
Brazil       BRA         1970.0                                                NaN
                         1971.0                                                NaN
                         1972.0                                                NaN
                         1973.0                                                NaN
                         1974.0                                                NaN
...                                                                            ...
South Africa ZAF         2015.0                                                NaN
                         2016.0                                                3.6
                         2017.0                                                NaN
                         2018.0                                                NaN
                         2019.0                                                NaN

SeriesName                       Women's share of population ages 15+ living with HIV (%)  \
CountryName  CountryCode Year
Brazil       BRA         1970.0                                                NaN
                         1971.0                                                NaN
                         1972.0                                                NaN
                         1973.0                                                NaN
                         1974.0                                                NaN
...                                                                            ...
South Africa ZAF         2015.0                                               64.5
                         2016.0                                               64.6
                         2017.0                                               64.8
                         2018.0                                               65.0
                         2019.0                                               65.2

SeriesName                       Young people (ages 15-24) newly infected with HIV
CountryName  CountryCode Year

Please move on to the next notebook `Capstone Project: BRICS Analysis Cleaning` for the cleaning process of these datasets and the combination of them.